install/up-board/node-red/flows.json
[
    {
        "id": "dd8a1142.d816c",
        "type": "tab",
        "label": "JoTio_Request",
        "disabled": false
    },
    {
        "id": "7fb68445.dc619c",
        "type": "tab",
        "label": "JoTio_Response"
    },
    {
        "id": "23980423.5c63cc",
        "type": "tab",
        "label": "JoTio_Visualization"
    },
    {
        "id": "8ceac1f5.ddc84",
        "type": "tab",
        "label": "Operation mode"
    },
    {
        "id": "ae8a1f56.99e2c",
        "type": "mqtt-broker",
        "z": "",
        "broker": "127.0.0.1",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": ""
    },
    {
        "id": "b914875d.7e25a8",
        "type": "ui_tab",
        "z": "",
        "name": "DEMO",
        "icon": "dashboard"
    },
    {
        "id": "85c384f6.fb88b8",
        "type": "ui_group",
        "z": "",
        "name": "Temperature Node",
        "tab": "b914875d.7e25a8",
        "order": 2,
        "disp": true,
        "width": "6"
    },
    {
        "id": "59628c40.1378a4",
        "type": "ui_group",
        "z": "",
        "name": "Light",
        "tab": "b914875d.7e25a8",
        "order": 4,
        "disp": true,
        "width": "6"
    },
    {
        "id": "54264262.49504c",
        "type": "ui_group",
        "z": "",
        "name": "Potentiometr",
        "tab": "b914875d.7e25a8",
        "order": 3,
        "disp": true,
        "width": "6"
    },
    {
        "id": "50a41c14.41fd24",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#000000",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "58282760.fabe68",
        "type": "ui_group",
        "z": "",
        "name": "Temperature SE",
        "tab": "b914875d.7e25a8",
        "order": 1,
        "disp": true,
        "width": "6"
    },
    {
        "id": "f9c111a3.02736",
        "type": "ui_group",
        "z": "",
        "name": "SW1",
        "tab": "b914875d.7e25a8",
        "order": 5,
        "disp": true,
        "width": "6"
    },
    {
        "id": "cecab088.33ee4",
        "type": "ui_group",
        "z": "",
        "name": "SW2",
        "tab": "b914875d.7e25a8",
        "order": 6,
        "disp": true,
        "width": "6"
    },
    {
        "id": "202d076c.6a32f8",
        "type": "ui_group",
        "z": "",
        "name": "Coordinator Green LED ",
        "tab": "b914875d.7e25a8",
        "order": 7,
        "disp": true,
        "width": "6"
    },
    {
        "id": "b9d4f53e.296478",
        "type": "ui_group",
        "z": "",
        "name": "Coordinator Red LED",
        "tab": "b914875d.7e25a8",
        "order": 8,
        "disp": true,
        "width": "6"
    },
    {
        "id": "d9a8a6be.9d04b8",
        "type": "mqtt out",
        "z": "dd8a1142.d816c",
        "name": "Gateway Request",
        "topic": "Iqrf/DpaRequest",
        "qos": "",
        "retain": "",
        "broker": "ae8a1f56.99e2c",
        "x": 900,
        "y": 180,
        "wires": []
    },
    {
        "id": "96ef7d13.38a4b",
        "type": "inject",
        "z": "8ceac1f5.ddc84",
        "name": "Servisní mod",
        "topic": "",
        "payload": "{   \"ctype\": \"conf\",   \"type\": \"mode\",   \"cmd\": \"service\" }",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 150,
        "y": 160,
        "wires": [
            [
                "94a65dd0.eedcb"
            ]
        ]
    },
    {
        "id": "46e7ca9a.329b94",
        "type": "inject",
        "z": "8ceac1f5.ddc84",
        "name": "Standartní mod",
        "topic": "",
        "payload": "{   \"ctype\": \"conf\",   \"type\": \"mode\",   \"cmd\": \"operational\" }",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 140,
        "y": 220,
        "wires": [
            [
                "94a65dd0.eedcb"
            ]
        ]
    },
    {
        "id": "521b17c1.a752c8",
        "type": "mqtt out",
        "z": "8ceac1f5.ddc84",
        "name": "Gateway Request",
        "topic": "Iqrf/DpaRequest",
        "qos": "",
        "retain": "",
        "broker": "ae8a1f56.99e2c",
        "x": 630,
        "y": 180,
        "wires": []
    },
    {
        "id": "e9a59ebb.dadf6",
        "type": "debug",
        "z": "8ceac1f5.ddc84",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "true",
        "x": 590,
        "y": 240,
        "wires": []
    },
    {
        "id": "fdf01737.24c668",
        "type": "mqtt in",
        "z": "8ceac1f5.ddc84",
        "name": "Gateway Response",
        "topic": "Iqrf/DpaResponse",
        "qos": "2",
        "broker": "ae8a1f56.99e2c",
        "x": 170,
        "y": 340,
        "wires": [
            [
                "17cdb9ef.3199f6",
                "fdbeaa10.6cb9d8"
            ]
        ]
    },
    {
        "id": "17cdb9ef.3199f6",
        "type": "json",
        "z": "8ceac1f5.ddc84",
        "name": "",
        "x": 390,
        "y": 340,
        "wires": [
            [
                "b0b00ca5.91d7a"
            ]
        ]
    },
    {
        "id": "b0b00ca5.91d7a",
        "type": "debug",
        "z": "8ceac1f5.ddc84",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 610,
        "y": 340,
        "wires": []
    },
    {
        "id": "94a65dd0.eedcb",
        "type": "json",
        "z": "8ceac1f5.ddc84",
        "name": "",
        "x": 390,
        "y": 200,
        "wires": [
            [
                "e9a59ebb.dadf6",
                "521b17c1.a752c8"
            ]
        ]
    },
    {
        "id": "fdbeaa10.6cb9d8",
        "type": "debug",
        "z": "8ceac1f5.ddc84",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 410,
        "y": 380,
        "wires": []
    },
    {
        "id": "440e26a5.bd39e8",
        "type": "inject",
        "z": "8ceac1f5.ddc84",
        "name": "forward",
        "topic": "",
        "payload": "{   \"ctype\": \"conf\",   \"type\": \"mode\",   \"cmd\": \"forwarding\" }",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 170,
        "y": 280,
        "wires": [
            [
                "94a65dd0.eedcb"
            ]
        ]
    },
    {
        "id": "614735cc.e937fc",
        "type": "comment",
        "z": "dd8a1142.d816c",
        "name": "adresy iqrf site",
        "info": "IQRF DEV SENSOR     -- 1\nIQRF DEV RELAY      -- 2\nIQRF Protronix      -- 3\n",
        "x": 230,
        "y": 60,
        "wires": []
    },
    {
        "id": "89613caf.96b19",
        "type": "function",
        "z": "dd8a1142.d816c",
        "name": "Req sensor std",
        "func": "var data={\n    type: \"raw\",\n    request: {\n        nadr: \"0x0001\",\n        pnum: \"0x5E\",\n        pcmd: \"0x01\",\n        hwpid: \"0xFFFF\",\n        pdata: \"0xFFFFFFFF\",\n    },\n    timeout: 1000\n}\nmsg.payload=data;\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 460,
        "y": 180,
        "wires": [
            [
                "fc03850c.ab92e8"
            ]
        ]
    },
    {
        "id": "efff2047.7efa2",
        "type": "inject",
        "z": "dd8a1142.d816c",
        "name": "Senzor Kit 3s",
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "repeat": "3",
        "crontab": "",
        "once": true,
        "x": 260,
        "y": 180,
        "wires": [
            [
                "89613caf.96b19"
            ]
        ]
    },
    {
        "id": "fc03850c.ab92e8",
        "type": "function",
        "z": "dd8a1142.d816c",
        "name": "JSONtoIQRF",
        "func": "out = ('000'+Number(msg.payload.request.nadr).toString(16)).slice(-2);\nout += \".\"+(('000'+Number(msg.payload.request.nadr).toString(16)).slice(-4)).substr(0,2);\nout += \".\"+('0'+Number(msg.payload.request.pnum).toString(16)).slice(-2);\nout += \".\"+('0'+Number(msg.payload.request.pcmd).toString(16)).slice(-2);\nout += \".\"+('000'+Number(msg.payload.request.hwpid).toString(16)).slice(-2);\nout += \".\"+(('000'+Number(msg.payload.request.hwpid).toString(16)).slice(-4)).substr(0,2);\n\n\n\n\nif (typeof msg.payload.request.pdata !== 'undefined' && msg.payload.request.pdata !== null) \n{\n    // jsou pro nas data pdata !!!\n    // potreba zjistit delku stringu.\n    \n    len = msg.payload.request.pdata.length; \n    count = -len;\n    for(i=len;i>2;i=i-2)\n    {\n        count = count + 2;\n        out += \".\"+(('000'+Number(msg.payload.request.pdata).toString(16)).slice(count)).substr(0,2);\n    }\n    //msg.payload = count;\n    //return msg;\n}\n\nmsg.payload= {ctype:\"dpa\", type: msg.payload.type, request: out, timeout: msg.payload.timeout};\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 690,
        "y": 180,
        "wires": [
            [
                "420a80d.4cb158",
                "d9a8a6be.9d04b8"
            ]
        ]
    },
    {
        "id": "420a80d.4cb158",
        "type": "debug",
        "z": "dd8a1142.d816c",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 890,
        "y": 140,
        "wires": []
    },
    {
        "id": "5c9af930.e7a6e8",
        "type": "mqtt in",
        "z": "7fb68445.dc619c",
        "name": "Gateway Response",
        "topic": "Iqrf/DpaResponse",
        "qos": "2",
        "broker": "ae8a1f56.99e2c",
        "x": 250,
        "y": 140,
        "wires": [
            [
                "4060c38e.b07d0c"
            ]
        ]
    },
    {
        "id": "b0424b2c.fafd98",
        "type": "mqtt out",
        "z": "7fb68445.dc619c",
        "name": "Status",
        "topic": "Iqrf/DpaResponse",
        "qos": "",
        "retain": "",
        "broker": "ae8a1f56.99e2c",
        "x": 910,
        "y": 1480,
        "wires": []
    },
    {
        "id": "4060c38e.b07d0c",
        "type": "json",
        "z": "7fb68445.dc619c",
        "name": "",
        "x": 430,
        "y": 140,
        "wires": [
            [
                "fa1cc6c0.359b28",
                "c10fcb5e.fcd878"
            ]
        ]
    },
    {
        "id": "ed0c364f.d54fe8",
        "type": "function",
        "z": "7fb68445.dc619c",
        "name": "Get Temp",
        "func": "var res=msg.payload.response.pdata.split(\".\");\n\n\nparstemp1 =  parseInt(res[5],16);   //ff\nparstemp2 =  parseInt(res[4],16);   //d0\n\ntemp1 = parstemp1;\ntemp2 = parstemp2;\n\ntemp1 &= 0x7F;\ntemp2 &= 0xF0;\n\ntemp = (temp1<<4) + (temp2>>4);\n\ntemp2 =  parstemp2;\ntemp2 &= 0x0F;\n\ntemp2 *= 0.0625;\n\ntemp += temp2; \n\nif(((parstemp1 & 0x80)>>7) === 1)\n{\n    temp = 2048 - temp;\n    temp = -temp;\n}\nmsg.payload={\"KitTemp\":temp};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 580,
        "y": 360,
        "wires": [
            [
                "c3035d57.15ce9"
            ]
        ]
    },
    {
        "id": "723d6e5a.40c",
        "type": "function",
        "z": "7fb68445.dc619c",
        "name": "Get Potenciometer",
        "func": "var res=msg.payload.response.pdata.split(\".\");\nmsg.payload={\"KitPot\":parseInt(res[9],16)};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 610,
        "y": 520,
        "wires": [
            [
                "c3035d57.15ce9"
            ]
        ]
    },
    {
        "id": "bc8ddf5b.1a55e",
        "type": "function",
        "z": "7fb68445.dc619c",
        "name": "Get Light",
        "func": "var res=msg.payload.response.pdata.split(\".\");\nmsg.payload={\"KitLight\":parseInt(res[7],16)};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 580,
        "y": 440,
        "wires": [
            [
                "c3035d57.15ce9"
            ]
        ]
    },
    {
        "id": "5a48c3e5.a63b2c",
        "type": "debug",
        "z": "7fb68445.dc619c",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 930,
        "y": 1440,
        "wires": []
    },
    {
        "id": "745b07c9.3d9c68",
        "type": "inject",
        "z": "7fb68445.dc619c",
        "name": "",
        "topic": "",
        "payload": "Test",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 290,
        "y": 1580,
        "wires": [
            [
                "86ce6f12.1963d"
            ]
        ]
    },
    {
        "id": "86ce6f12.1963d",
        "type": "function",
        "z": "7fb68445.dc619c",
        "name": "Req Tst",
        "func": "var data={\n    request: {\n        nadr:  \"0x0001\",\n        pnum:  \"0x20\",\n        pcmd:  \"0xB1\",\n        hwpid: \"0x001E\",\n        err:   \"0x00\",\n        dpa:   \"0x67\",\n        pdata1: Math.floor((Math.random() * 30) + 1),\n        pdata2: Math.floor((Math.random() * 255) + 1),\n        pdata3: Math.floor((Math.random() * 255) + 1)\n    },\n}\nmsg.payload=data.request;\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 420,
        "y": 1580,
        "wires": [
            [
                "3f15bdf.9a47342",
                "5a48c3e5.a63b2c"
            ]
        ]
    },
    {
        "id": "3f15bdf.9a47342",
        "type": "function",
        "z": "7fb68445.dc619c",
        "name": "JSONtoIQRF",
        "func": "out = ('000'+Number(msg.payload.nadr).toString(16)).slice(-2);\nout += \".\"+(('000'+Number(msg.payload.nadr).toString(16)).slice(-4)).substr(0,2);\nout += \".\"+('0'+Number(msg.payload.pnum).toString(16)).slice(-2);\nout += \".\"+('0'+Number(msg.payload.pcmd).toString(16)).slice(-2);\nout += \".\"+('000'+Number(msg.payload.hwpid).toString(16)).slice(-2);\nout += \".\"+(('000'+Number(msg.payload.hwpid).toString(16)).slice(-4)).substr(0,2);\n\nres = ('000'+Number(msg.payload.nadr).toString(16)).slice(-2);\nres += \".\"+(('000'+Number(msg.payload.nadr).toString(16)).slice(-4)).substr(0,2);\nres += \".\"+('0'+Number(msg.payload.pnum).toString(16)).slice(-2);\nres += \".\"+('0'+Number(msg.payload.pcmd).toString(16)).slice(-2);\nres += \".\"+('000'+Number(msg.payload.hwpid).toString(16)).slice(-2);\nres += \".\"+(('000'+Number(msg.payload.hwpid).toString(16)).slice(-4)).substr(0,2);\nres += \".\"+('0'+Number(msg.payload.err).toString(16)).slice(-2);\nres += \".\"+('0'+Number(msg.payload.dpa).toString(16)).slice(-2);\nres += \".\"+('0'+Number(msg.payload.pdata1).toString(16)).slice(-2);\nres += \".\"+('0'+Number(msg.payload.pdata2).toString(16)).slice(-2);\nres += \".\"+('0'+Number(msg.payload.pdata3).toString(16)).slice(-2);\n\n//res += ('00000'+Number(msg.payload.pdata).toString(16)).slice(-2)+\" \";\n//res += (('00000'+Number(msg.payload.pdata).toString(16)).slice(-4)).substr(0,2);\n//res += (('00000'+Number(msg.payload.pdata).toString(16)).slice(-4)).substr(0,2);\n\nmsg.payload= {ctype:\"dpa\", type: \"raw\", timeout: 0, request: out, response: res};\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 570,
        "y": 1480,
        "wires": [
            [
                "b0424b2c.fafd98",
                "5a48c3e5.a63b2c"
            ]
        ]
    },
    {
        "id": "daf0c340.420f",
        "type": "switch",
        "z": "7fb68445.dc619c",
        "name": "PNUM ?",
        "property": "payload.response.pnum",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "94",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "outputs": 1,
        "x": 380,
        "y": 400,
        "wires": [
            [
                "ed0c364f.d54fe8",
                "bc8ddf5b.1a55e",
                "723d6e5a.40c",
                "adbd7419.4c0278"
            ]
        ]
    },
    {
        "id": "fa1cc6c0.359b28",
        "type": "function",
        "z": "7fb68445.dc619c",
        "name": "IQRFtoJSON",
        "func": "var response=msg.payload.response.split(\".\");\nvar request=msg.payload.request.split(\".\");\n\nvar data={\n    type: \"\",\n    request: {\n        nadr: \"\",\n        pnum: \"\",\n        pcmd: \"\",\n        hwpid: \"\"\n    },\n    response: {\n        nadr: \"\",\n        pnum: \"\",\n        pcmd: \"\",\n        hwpid: \"\",\n        errn: \"\",\n        dpa: \"\",\n        pdata: \"\",\n    },\n    timeout: \"\",\n    result: \"\",\n    time: new Date()\n}\n\n\ndata.type = msg.payload.type;\n\ndata.request.nadr=parseInt(request[0], 16) + (parseInt(request[1], 16)*256);\ndata.request.pnum=parseInt(request[2], 16);\ndata.request.pcmd=parseInt(request[3], 16);\ndata.request.hwpid=parseInt(request[4], 16) + (parseInt(request[5], 16)*256);\n\ndata.response.nadr=parseInt(response[0], 16) + (parseInt(response[1], 16)*256);\ndata.response.pnum=parseInt(response[2], 16);\ndata.response.pcmd=parseInt(response[3], 16);\ndata.response.hwpid=parseInt(response[4], 16) + (parseInt(response[5], 16)*256);\ndata.response.errn=parseInt(response[6], 16);\ndata.response.dpa=parseInt(response[7], 16);\ndata.response.pdata=msg.payload.response.slice(24).trim();\ndata.timeout=msg.payload.timeout;\ndata.result=msg.payload.result;\nmsg.payload=data;\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 590,
        "y": 140,
        "wires": [
            [
                "840ee9c2.7cb7b8",
                "c103097f.c03eb8"
            ]
        ]
    },
    {
        "id": "840ee9c2.7cb7b8",
        "type": "debug",
        "z": "7fb68445.dc619c",
        "name": "parse",
        "active": false,
        "console": "false",
        "complete": "payload",
        "x": 750,
        "y": 100,
        "wires": []
    },
    {
        "id": "12eebaeb.d75975",
        "type": "function",
        "z": "dd8a1142.d816c",
        "name": "STD binary output Relay1 kit 1",
        "func": "//---  04.00.4B.00.FF.FF.01.00.00.00.01\n\n// prijde adresa \n// prijde stav\n// prijde vystup cislo\nvar data={\n    type: \"raw\",\n    request: {\n        nadr: \"0x0002\",\n        pnum: \"0x4B\",\n        pcmd: \"0x00\",\n        hwpid: \"0xFFFF\",\n        pdata: \"0x0400000001\",\n    },\n    timeout: 1000\n}\n\nif(msg.payload == 1)\n{\n    data.request.pdata = \"0x0400000001\";\n}\nelse if(msg.payload == 0)\n{\n    data.request.pdata = \"0x0400000000\";\n}\n\nmsg.payload=data;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 770,
        "y": 380,
        "wires": [
            [
                "210b6f55.feff4"
            ]
        ]
    },
    {
        "id": "c5e3fb4e.b88a38",
        "type": "function",
        "z": "dd8a1142.d816c",
        "name": "STD binary output Relay2 kit 1",
        "func": "//---  04.00.4B.00.FF.FF.01.00.00.00.01\n\n// prijde adresa \n// prijde stav\n// prijde vystup cislo\nvar data={\n    type: \"raw\",\n    request: {\n        nadr: \"0x0002\",\n        pnum: \"0x4B\",\n        pcmd: \"0x00\",\n        hwpid: \"0xFFFF\",\n        pdata: \"0x0800000001\",\n    },\n    timeout: 1000\n}\n\nif(msg.payload == 1)\n{\n    data.request.pdata = \"0x0800000001\";\n}\nelse if(msg.payload == 0)\n{\n    data.request.pdata = \"0x0800000000\";\n}\n\nmsg.payload=data;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 770,
        "y": 520,
        "wires": [
            [
                "210b6f55.feff4"
            ]
        ]
    },
    {
        "id": "d20649c3.5a39c8",
        "type": "inject",
        "z": "dd8a1142.d816c",
        "name": "Switch 1 ON",
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 530,
        "y": 340,
        "wires": [
            [
                "12eebaeb.d75975"
            ]
        ]
    },
    {
        "id": "f155f341.6270d",
        "type": "inject",
        "z": "dd8a1142.d816c",
        "name": "Switch 1 OFF",
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 530,
        "y": 420,
        "wires": [
            [
                "12eebaeb.d75975"
            ]
        ]
    },
    {
        "id": "22d51fef.497f8",
        "type": "inject",
        "z": "dd8a1142.d816c",
        "name": "Switch 1 ON",
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 530,
        "y": 480,
        "wires": [
            [
                "c5e3fb4e.b88a38"
            ]
        ]
    },
    {
        "id": "a9a5758d.7f6e88",
        "type": "inject",
        "z": "dd8a1142.d816c",
        "name": "Switch 1 OFF",
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 530,
        "y": 560,
        "wires": [
            [
                "c5e3fb4e.b88a38"
            ]
        ]
    },
    {
        "id": "f4ec038b.d9ca6",
        "type": "function",
        "z": "dd8a1142.d816c",
        "name": "STD binary output LED RED GW",
        "func": "//---  04.00.4B.00.FF.FF.01.00.00.00.01\n\n// prijde adresa \n// prijde stav\n// prijde vystup cislo\nvar data={\n    type: \"raw\",\n    request: {\n        nadr: \"0x0000\",\n        pnum: \"0x06\",\n        pcmd: \"0x01\",\n        hwpid: \"0xFFFF\",\n    },\n    timeout: 1000\n}\n\nif(msg.payload == 1)\n{\n    data.request.pcmd = \"0x01\";\n}\nelse if(msg.payload == 0)\n{\n    data.request.pcmd = \"0x00\";\n}\n\nmsg.payload=data;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 780,
        "y": 700,
        "wires": [
            [
                "210b6f55.feff4"
            ]
        ]
    },
    {
        "id": "d03d12e8.69e6e",
        "type": "inject",
        "z": "dd8a1142.d816c",
        "name": "Switch 1 ON",
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 530,
        "y": 660,
        "wires": [
            [
                "f4ec038b.d9ca6"
            ]
        ]
    },
    {
        "id": "8504bca7.7b69d",
        "type": "inject",
        "z": "dd8a1142.d816c",
        "name": "Switch 1 OFF",
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 530,
        "y": 740,
        "wires": [
            [
                "f4ec038b.d9ca6"
            ]
        ]
    },
    {
        "id": "19395f43.107d01",
        "type": "inject",
        "z": "dd8a1142.d816c",
        "name": "CLOUD",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 550,
        "y": 780,
        "wires": [
            []
        ]
    },
    {
        "id": "78c25fd3.6474d",
        "type": "function",
        "z": "dd8a1142.d816c",
        "name": "STD binary output LED GREEN DW",
        "func": "//---  04.00.4B.00.FF.FF.01.00.00.00.01\n\n// prijde adresa \n// prijde stav\n// prijde vystup cislo\nvar data={\n    type: \"raw\",\n    request: {\n        nadr: \"0x0000\",\n        pnum: \"0x07\",\n        pcmd: \"0x01\",\n        hwpid: \"0xFFFF\",\n    },\n    timeout: 1000\n}\n\nif(msg.payload == 1)\n{\n    data.request.pcmd = \"0x01\";\n}\nelse if(msg.payload == 0)\n{\n    data.request.pcmd = \"0x00\";\n}\n\nmsg.payload=data;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 790,
        "y": 880,
        "wires": [
            [
                "210b6f55.feff4"
            ]
        ]
    },
    {
        "id": "af112b1a.8f98d8",
        "type": "inject",
        "z": "dd8a1142.d816c",
        "name": "Switch 1 ON",
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 530,
        "y": 840,
        "wires": [
            [
                "78c25fd3.6474d"
            ]
        ]
    },
    {
        "id": "2d03efca.a2f8b",
        "type": "inject",
        "z": "dd8a1142.d816c",
        "name": "Switch 1 OFF",
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 530,
        "y": 920,
        "wires": [
            [
                "78c25fd3.6474d"
            ]
        ]
    },
    {
        "id": "f95f8901.6e7048",
        "type": "inject",
        "z": "dd8a1142.d816c",
        "name": "CLOUD",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 550,
        "y": 960,
        "wires": [
            []
        ]
    },
    {
        "id": "f0499fc5.ed2ec",
        "type": "switch",
        "z": "7fb68445.dc619c",
        "name": "ADR",
        "property": "payload.response.nadr",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "3",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 230,
        "y": 560,
        "wires": [
            [
                "daf0c340.420f"
            ],
            []
        ]
    },
    {
        "id": "8d9685ab.4827a8",
        "type": "switch",
        "z": "dd8a1142.d816c",
        "name": "",
        "property": "payload.name",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "setout1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "setout2",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "redled",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "greenled",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "outputs": 5,
        "x": 310,
        "y": 600,
        "wires": [
            [
                "254200d9.12de3"
            ],
            [
                "daa31bb4.26e6d8"
            ],
            [
                "9ad8b7aa.9221f8"
            ],
            [
                "62d92b33.5279c4"
            ],
            []
        ]
    },
    {
        "id": "254200d9.12de3",
        "type": "function",
        "z": "dd8a1142.d816c",
        "name": "convert",
        "func": "msg.payload = msg.payload.command;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 540,
        "y": 380,
        "wires": [
            [
                "12eebaeb.d75975"
            ]
        ]
    },
    {
        "id": "daa31bb4.26e6d8",
        "type": "function",
        "z": "dd8a1142.d816c",
        "name": "convert",
        "func": "msg.payload = msg.payload.command;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 540,
        "y": 520,
        "wires": [
            [
                "c5e3fb4e.b88a38"
            ]
        ]
    },
    {
        "id": "9ad8b7aa.9221f8",
        "type": "function",
        "z": "dd8a1142.d816c",
        "name": "convert",
        "func": "msg.payload = msg.payload.command;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 540,
        "y": 700,
        "wires": [
            [
                "f4ec038b.d9ca6"
            ]
        ]
    },
    {
        "id": "62d92b33.5279c4",
        "type": "function",
        "z": "dd8a1142.d816c",
        "name": "convert",
        "func": "msg.payload = msg.payload.command;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 540,
        "y": 880,
        "wires": [
            [
                "78c25fd3.6474d"
            ]
        ]
    },
    {
        "id": "adbd7419.4c0278",
        "type": "function",
        "z": "7fb68445.dc619c",
        "name": "Get Temp",
        "func": "var res=msg.payload.response.pdata.split(\".\");\n\n\nparstemp1 =  parseInt(res[2],16);   //ff\nparstemp2 =  parseInt(res[1],16);   //d0\n\ntemp1 = parstemp1;\ntemp2 = parstemp2;\nif(temp1 == 0xFF && temp2 == 0xFF)\n{\n    temp = \"NaN\";\n    msg.payload={\"KitNodeTemp\":temp};\n    return msg;\n}\n\ntemp1 &= 0x7F;\ntemp2 &= 0xF0;\n\ntemp = (temp1<<4) + (temp2>>4);\n\ntemp2 =  parstemp2;\ntemp2 &= 0x0F;\n\ntemp2 *= 0.0625;\n\ntemp += temp2; \n\nif(((parstemp1 & 0x80)>>7) === 1)\n{\n    temp = 2048 - temp;\n    temp = -temp;\n}\nif(temp == -2048)\n{\n    temp = \"NaN\";\n}\nmsg.payload={\"KitNodeTemp\":temp};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 580,
        "y": 280,
        "wires": [
            [
                "c3035d57.15ce9"
            ]
        ]
    },
    {
        "id": "c3035d57.15ce9",
        "type": "join",
        "z": "7fb68445.dc619c",
        "name": "",
        "mode": "custom",
        "build": "merged",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "timeout": "0.2",
        "count": "",
        "x": 810,
        "y": 400,
        "wires": [
            [
                "8fab24fe.2a8b08",
                "e88b272c.669b78",
                "dc2526be.83dce8"
            ]
        ]
    },
    {
        "id": "8fab24fe.2a8b08",
        "type": "debug",
        "z": "7fb68445.dc619c",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "true",
        "x": 990,
        "y": 600,
        "wires": []
    },
    {
        "id": "210b6f55.feff4",
        "type": "link out",
        "z": "dd8a1142.d816c",
        "name": "ToGateway",
        "links": [
            "7b60efde.636f1"
        ],
        "x": 1000,
        "y": 640,
        "wires": []
    },
    {
        "id": "7b60efde.636f1",
        "type": "link in",
        "z": "dd8a1142.d816c",
        "name": "ToGateway",
        "links": [
            "210b6f55.feff4"
        ],
        "x": 535,
        "y": 220,
        "wires": [
            [
                "fc03850c.ab92e8"
            ]
        ]
    },
    {
        "id": "85339da5.6720c",
        "type": "comment",
        "z": "dd8a1142.d816c",
        "name": "--------------------------------------------------------------------------------------------------------------------------------------------------------------",
        "info": "",
        "x": 510,
        "y": 260,
        "wires": []
    },
    {
        "id": "5a35555b.985bdc",
        "type": "comment",
        "z": "23980423.5c63cc",
        "name": "MeasureData",
        "info": "",
        "x": 130,
        "y": 260,
        "wires": []
    },
    {
        "id": "528a28be.a314d8",
        "type": "function",
        "z": "23980423.5c63cc",
        "name": "Get  S_KIT TempDS",
        "func": "msg.payload=msg.payload.KitTemp;\nif(msg.payload > -2000)\n{\n    msg.payload = Math.round(msg.payload * 10)/10;\n    return msg;\n}\n\nreturn;",
        "outputs": 1,
        "noerr": 0,
        "x": 410,
        "y": 500,
        "wires": [
            [
                "c4789422.bd9458",
                "9b853c64.18f16",
                "aa75502b.99b42"
            ]
        ]
    },
    {
        "id": "a17a7bcf.dcecf8",
        "type": "function",
        "z": "23980423.5c63cc",
        "name": "Get S_KIT Light",
        "func": "if (msg.payload.KitLight)\n{\n    msg.payload=8*(127-msg.payload.KitLight);\n   return msg;\n}\nreturn;",
        "outputs": 1,
        "noerr": 0,
        "x": 400,
        "y": 620,
        "wires": [
            [
                "fc87412c.d35ad",
                "502a012b.26438",
                "74c033c0.19a95c"
            ]
        ]
    },
    {
        "id": "292487a7.9e2728",
        "type": "function",
        "z": "23980423.5c63cc",
        "name": "Get S_KIT Pot",
        "func": "msg.payload=msg.payload.KitPot;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 400,
        "y": 720,
        "wires": [
            [
                "db8ebd52.ae253",
                "d12dc87b.6d6ef8",
                "c0c6c64f.db12e8"
            ]
        ]
    },
    {
        "id": "c4789422.bd9458",
        "type": "debug",
        "z": "23980423.5c63cc",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "true",
        "x": 810,
        "y": 500,
        "wires": []
    },
    {
        "id": "502a012b.26438",
        "type": "debug",
        "z": "23980423.5c63cc",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "true",
        "x": 810,
        "y": 620,
        "wires": []
    },
    {
        "id": "d12dc87b.6d6ef8",
        "type": "debug",
        "z": "23980423.5c63cc",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "payload",
        "x": 830,
        "y": 720,
        "wires": []
    },
    {
        "id": "3f99ad80.fede12",
        "type": "link in",
        "z": "23980423.5c63cc",
        "name": "IqrfGraf",
        "links": [
            "e88b272c.669b78"
        ],
        "x": 186,
        "y": 298,
        "wires": [
            [
                "528a28be.a314d8",
                "a17a7bcf.dcecf8",
                "292487a7.9e2728",
                "e88d0f8.6b6f0f",
                "3a82e93f.21a6e6"
            ]
        ]
    },
    {
        "id": "8f237eb1.4a804",
        "type": "comment",
        "z": "23980423.5c63cc",
        "name": "IQRF",
        "info": "",
        "x": 830,
        "y": 980,
        "wires": []
    },
    {
        "id": "481f8cc5.ea4864",
        "type": "function",
        "z": "23980423.5c63cc",
        "name": "Set value",
        "func": "var data={\n    name:msg.topic,\n    command:msg.payload \n}\nmsg.payload=data;\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 680,
        "y": 1060,
        "wires": [
            [
                "b6e412f.d0095f",
                "d6bbaf57.c9f04"
            ]
        ]
    },
    {
        "id": "6258d979.3b78d8",
        "type": "debug",
        "z": "23980423.5c63cc",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "payload",
        "x": 830,
        "y": 400,
        "wires": []
    },
    {
        "id": "3a82e93f.21a6e6",
        "type": "function",
        "z": "23980423.5c63cc",
        "name": "Get S_KIT TempNode",
        "func": "msg.payload=msg.payload.KitNodeTemp;\nif(msg.payload > -2000)\n{\n    msg.payload = Math.round(msg.payload * 10)/10;\n    return msg;\n}\n\nreturn;",
        "outputs": 1,
        "noerr": 0,
        "x": 420,
        "y": 400,
        "wires": [
            [
                "1f8e1111.6398af",
                "6258d979.3b78d8",
                "cb2c8644.8217f8"
            ]
        ]
    },
    {
        "id": "e88d0f8.6b6f0f",
        "type": "debug",
        "z": "23980423.5c63cc",
        "name": "Complete data",
        "active": false,
        "console": "false",
        "complete": "payload",
        "x": 400,
        "y": 300,
        "wires": []
    },
    {
        "id": "e88b272c.669b78",
        "type": "link out",
        "z": "7fb68445.dc619c",
        "name": "",
        "links": [
            "3f99ad80.fede12"
        ],
        "x": 955,
        "y": 560,
        "wires": []
    },
    {
        "id": "b6e412f.d0095f",
        "type": "debug",
        "z": "23980423.5c63cc",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 850,
        "y": 1060,
        "wires": []
    },
    {
        "id": "3a083c27.eba7c4",
        "type": "link in",
        "z": "dd8a1142.d816c",
        "name": "Button",
        "links": [
            "d6bbaf57.c9f04"
        ],
        "x": 195,
        "y": 600,
        "wires": [
            [
                "8d9685ab.4827a8"
            ]
        ]
    },
    {
        "id": "d6bbaf57.c9f04",
        "type": "link out",
        "z": "23980423.5c63cc",
        "name": "",
        "links": [
            "3a083c27.eba7c4"
        ],
        "x": 795,
        "y": 1020,
        "wires": []
    },
    {
        "id": "c10fcb5e.fcd878",
        "type": "debug",
        "z": "7fb68445.dc619c",
        "name": "raw",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 570,
        "y": 100,
        "wires": []
    },
    {
        "id": "c103097f.c03eb8",
        "type": "link out",
        "z": "7fb68445.dc619c",
        "name": "",
        "links": [
            "a9e219b2.2a95d8"
        ],
        "x": 715,
        "y": 140,
        "wires": []
    },
    {
        "id": "a9e219b2.2a95d8",
        "type": "link in",
        "z": "7fb68445.dc619c",
        "name": "ToParse",
        "links": [
            "c103097f.c03eb8"
        ],
        "x": 135,
        "y": 560,
        "wires": [
            [
                "f0499fc5.ed2ec"
            ]
        ]
    },
    {
        "id": "2022107a.b7ee8",
        "type": "comment",
        "z": "7fb68445.dc619c",
        "name": "--------------------------------------------------------------------------------------------------------------------------------------------------------------",
        "info": "",
        "x": 580,
        "y": 200,
        "wires": []
    },
    {
        "id": "dc2526be.83dce8",
        "type": "debug",
        "z": "7fb68445.dc619c",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 1010,
        "y": 460,
        "wires": []
    },
    {
        "id": "a6fec24d.fa3d9",
        "type": "link in",
        "z": "23980423.5c63cc",
        "name": "feedback",
        "links": [
            "c3a292f9.3bf7c",
            "63b15376.fbfe8c"
        ],
        "x": 95,
        "y": 1060,
        "wires": [
            [
                "6fe9c9c5.9c3128"
            ]
        ]
    },
    {
        "id": "d4660a42.9ec608",
        "type": "function",
        "z": "23980423.5c63cc",
        "name": "ToNumber",
        "func": "msg.payload = Number(msg.payload.command)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 390,
        "y": 860,
        "wires": [
            [
                "e5c7da2e.167308"
            ]
        ]
    },
    {
        "id": "fc7d62d6.78297",
        "type": "function",
        "z": "23980423.5c63cc",
        "name": "ToNumber",
        "func": "msg.payload = Number(msg.payload.command)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 390,
        "y": 1000,
        "wires": [
            [
                "79a46af9.f91de4"
            ]
        ]
    },
    {
        "id": "6fe9c9c5.9c3128",
        "type": "switch",
        "z": "23980423.5c63cc",
        "name": "",
        "property": "payload.name",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "setout1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "setout2",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "redled",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "greenled",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "outputs": 4,
        "x": 190,
        "y": 1060,
        "wires": [
            [
                "d4660a42.9ec608"
            ],
            [
                "fc7d62d6.78297"
            ],
            [
                "92504ae6.ba7108"
            ],
            [
                "1a0f4044.ae22e"
            ]
        ]
    },
    {
        "id": "92504ae6.ba7108",
        "type": "function",
        "z": "23980423.5c63cc",
        "name": "ToNumber",
        "func": "msg.payload = Number(msg.payload.command)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 390,
        "y": 1120,
        "wires": [
            []
        ]
    },
    {
        "id": "1a0f4044.ae22e",
        "type": "function",
        "z": "23980423.5c63cc",
        "name": "ToNumber",
        "func": "msg.payload = Number(msg.payload.command)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 390,
        "y": 1240,
        "wires": [
            []
        ]
    },
    {
        "id": "2aaaf17c.fb7b4e",
        "type": "ui_button",
        "z": "23980423.5c63cc",
        "name": "ON",
        "group": "f9c111a3.02736",
        "order": 3,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "ON",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "1",
        "payloadType": "num",
        "topic": "setout1",
        "x": 410,
        "y": 820,
        "wires": [
            [
                "481f8cc5.ea4864",
                "e5c7da2e.167308"
            ]
        ]
    },
    {
        "id": "2da7f683.88550a",
        "type": "ui_button",
        "z": "23980423.5c63cc",
        "name": "OFF",
        "group": "f9c111a3.02736",
        "order": 2,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "OFF",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "0",
        "payloadType": "num",
        "topic": "setout1",
        "x": 410,
        "y": 900,
        "wires": [
            [
                "481f8cc5.ea4864",
                "e5c7da2e.167308"
            ]
        ]
    },
    {
        "id": "36ddf6f7.4dddba",
        "type": "ui_button",
        "z": "23980423.5c63cc",
        "name": "ON",
        "group": "cecab088.33ee4",
        "order": 3,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "ON",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "1",
        "payloadType": "num",
        "topic": "setout2",
        "x": 410,
        "y": 960,
        "wires": [
            [
                "481f8cc5.ea4864",
                "79a46af9.f91de4"
            ]
        ]
    },
    {
        "id": "3bd1cc4e.a5fd34",
        "type": "ui_button",
        "z": "23980423.5c63cc",
        "name": "OFF",
        "group": "cecab088.33ee4",
        "order": 2,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "OFF",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "0",
        "payloadType": "num",
        "topic": "setout2",
        "x": 410,
        "y": 1040,
        "wires": [
            [
                "481f8cc5.ea4864",
                "79a46af9.f91de4"
            ]
        ]
    },
    {
        "id": "a3b0a516.c8aab8",
        "type": "ui_button",
        "z": "23980423.5c63cc",
        "name": "ON",
        "group": "b9d4f53e.296478",
        "order": 3,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "ON",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "1",
        "payloadType": "num",
        "topic": "redled",
        "x": 410,
        "y": 1200,
        "wires": [
            [
                "27d78b03.88d154",
                "481f8cc5.ea4864"
            ]
        ]
    },
    {
        "id": "334da415.4b7eec",
        "type": "ui_button",
        "z": "23980423.5c63cc",
        "name": "OFF",
        "group": "b9d4f53e.296478",
        "order": 2,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "OFF",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "0",
        "payloadType": "num",
        "topic": "redled",
        "x": 410,
        "y": 1280,
        "wires": [
            [
                "27d78b03.88d154",
                "481f8cc5.ea4864"
            ]
        ]
    },
    {
        "id": "b7b132c6.d253",
        "type": "ui_button",
        "z": "23980423.5c63cc",
        "name": "ON",
        "group": "202d076c.6a32f8",
        "order": 3,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "ON",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "1",
        "payloadType": "num",
        "topic": "greenled",
        "x": 410,
        "y": 1080,
        "wires": [
            [
                "f77c19e1.f3e368",
                "481f8cc5.ea4864"
            ]
        ]
    },
    {
        "id": "5fdd2461.07ee8c",
        "type": "ui_button",
        "z": "23980423.5c63cc",
        "name": "OFF",
        "group": "202d076c.6a32f8",
        "order": 2,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "OFF",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "0",
        "payloadType": "num",
        "topic": "greenled",
        "x": 410,
        "y": 1160,
        "wires": [
            [
                "f77c19e1.f3e368",
                "481f8cc5.ea4864"
            ]
        ]
    },
    {
        "id": "e5c7da2e.167308",
        "type": "ui_switch",
        "z": "23980423.5c63cc",
        "name": "Switch 1",
        "label": "Switch",
        "group": "f9c111a3.02736",
        "order": 1,
        "width": "2",
        "height": "1",
        "passthru": false,
        "decouple": "false",
        "topic": "setout1",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "x": 540,
        "y": 860,
        "wires": [
            [
                "481f8cc5.ea4864"
            ]
        ]
    },
    {
        "id": "79a46af9.f91de4",
        "type": "ui_switch",
        "z": "23980423.5c63cc",
        "name": "Switch 2",
        "label": "Switch",
        "group": "cecab088.33ee4",
        "order": 1,
        "width": "2",
        "height": "1",
        "passthru": false,
        "decouple": "false",
        "topic": "setout2",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "x": 540,
        "y": 1000,
        "wires": [
            [
                "481f8cc5.ea4864"
            ]
        ]
    },
    {
        "id": "27d78b03.88d154",
        "type": "ui_switch",
        "z": "23980423.5c63cc",
        "name": "Red LED",
        "label": "Switch",
        "group": "b9d4f53e.296478",
        "order": 1,
        "width": "2",
        "height": "1",
        "passthru": false,
        "decouple": "false",
        "topic": "redled",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "x": 540,
        "y": 1240,
        "wires": [
            [
                "481f8cc5.ea4864"
            ]
        ]
    },
    {
        "id": "f77c19e1.f3e368",
        "type": "ui_switch",
        "z": "23980423.5c63cc",
        "name": "Green LED",
        "label": "Switch",
        "group": "202d076c.6a32f8",
        "order": 1,
        "width": "2",
        "height": "1",
        "passthru": false,
        "decouple": "false",
        "topic": "greenled",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "x": 550,
        "y": 1120,
        "wires": [
            [
                "481f8cc5.ea4864"
            ]
        ]
    },
    {
        "id": "aa75502b.99b42",
        "type": "ui_gauge",
        "z": "23980423.5c63cc",
        "name": "Temperature_SE_KIT",
        "group": "58282760.fabe68",
        "order": 0,
        "width": "6",
        "height": "5",
        "gtype": "gage",
        "title": "",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 640,
        "y": 480,
        "wires": []
    },
    {
        "id": "db8ebd52.ae253",
        "type": "ui_gauge",
        "z": "23980423.5c63cc",
        "name": "Potentiometer",
        "group": "54264262.49504c",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "compass",
        "title": "",
        "label": "Volume",
        "format": "{{value}}",
        "min": 0,
        "max": "127",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 620,
        "y": 700,
        "wires": []
    },
    {
        "id": "1f8e1111.6398af",
        "type": "ui_gauge",
        "z": "23980423.5c63cc",
        "name": "Temperature_node",
        "group": "85c384f6.fb88b8",
        "order": 0,
        "width": "6",
        "height": "5",
        "gtype": "gage",
        "title": "",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 630,
        "y": 380,
        "wires": []
    },
    {
        "id": "74c033c0.19a95c",
        "type": "ui_gauge",
        "z": "23980423.5c63cc",
        "name": "Light",
        "group": "59628c40.1378a4",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "",
        "label": "lx",
        "format": "{{value}}",
        "min": 0,
        "max": "1000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 590,
        "y": 600,
        "wires": []
    },
    {
        "id": "9b853c64.18f16",
        "type": "ui_chart",
        "z": "23980423.5c63cc",
        "name": "Temperature_SE_KIT",
        "group": "58282760.fabe68",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "Waiting for data",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "5",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "x": 640,
        "y": 520,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "fc87412c.d35ad",
        "type": "ui_chart",
        "z": "23980423.5c63cc",
        "name": "Light",
        "group": "59628c40.1378a4",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "Waiting for data",
        "dot": false,
        "ymin": "0",
        "ymax": "1000",
        "removeOlder": "5",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "x": 590,
        "y": 640,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "cb2c8644.8217f8",
        "type": "ui_chart",
        "z": "23980423.5c63cc",
        "name": "Temperature_node",
        "group": "85c384f6.fb88b8",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "Waiting for data",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "5",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "x": 630,
        "y": 420,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "c0c6c64f.db12e8",
        "type": "ui_chart",
        "z": "23980423.5c63cc",
        "name": "Potenciometr",
        "group": "54264262.49504c",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "Waiting for data",
        "dot": false,
        "ymin": "0",
        "ymax": "127",
        "removeOlder": "5",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "x": 610,
        "y": 740,
        "wires": [
            [],
            []
        ]
    }
]
