install/rpi-board/node-red/flows.json
[{"id":"7da53018.c047f","type":"tab","label":"Connection (MQTT)","disabled":false,"info":""},{"id":"b6b58982.3409b8","type":"tab","label":"IQRF overview","disabled":false,"info":""},{"id":"4686813e.5333c","type":"tab","label":"IQRF DEMO","disabled":false,"info":""},{"id":"90bfca2a.479a78","type":"ui_base","theme":{"name":"theme-custom","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#004d81","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"IQRF Tech","default":"#4B7930","baseColor":"#004d81","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#4B7930","value":"#004d81","edited":true},"page-titlebar-backgroundColor":{"value":"#004d81","edited":true},"page-backgroundColor":{"value":"#111111","edited":true},"page-sidebar-backgroundColor":{"value":"#111111","edited":true},"group-textColor":{"value":"#ffffff","edited":true},"group-borderColor":{"value":"#111111","edited":true},"group-backgroundColor":{"value":"#262626","edited":true},"widget-textColor":{"value":"#ffffff","edited":true},"widget-backgroundColor":{"value":"#014e84","edited":true},"widget-borderColor":{"value":"#262626","edited":true},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"IQRF Demo","hideToolbar":"false","allowSwipe":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":4,"px":0,"py":0},"lockMenu":"true","allowTempTheme":"true"}},{"id":"450153f9.42cd3c","type":"ui_spacer","name":"spacer","group":"","order":3,"width":"6","height":1},{"id":"f9f4cf04.afe17","type":"ui_spacer","name":"spacer","group":"","order":1,"width":"6","height":1},{"id":"8d57fe94.f81fd","type":"ui_base","theme":{"name":"theme-custom","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#004d81","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"IQRF Tech","default":"#4B7930","baseColor":"#004d81","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#4B7930","value":"#004d81","edited":true},"page-titlebar-backgroundColor":{"value":"#004d81","edited":true},"page-backgroundColor":{"value":"#111111","edited":true},"page-sidebar-backgroundColor":{"value":"#111111","edited":true},"group-textColor":{"value":"#ffffff","edited":true},"group-borderColor":{"value":"#111111","edited":true},"group-backgroundColor":{"value":"#262626","edited":true},"widget-textColor":{"value":"#ffffff","edited":true},"widget-backgroundColor":{"value":"#014e84","edited":true},"widget-borderColor":{"value":"#262626","edited":true},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"IQRF Demo","hideToolbar":"false","allowSwipe":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":4,"px":0,"py":0},"lockMenu":"true","allowTempTheme":"true"}},{"id":"f88954c6.b3f3d8","type":"mqtt-broker","z":"","name":"","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"ab34dfbe.29699","type":"ui_tab","z":"","name":"IQRF overview","icon":"settings_input_antenna","order":1,"disabled":false,"hidden":false},{"id":"56089060.2aa7d","type":"ui_group","z":"","name":"IQRF Address map","tab":"ab34dfbe.29699","order":1,"disp":true,"width":"6","collapse":false},{"id":"8ea176f0.c30528","type":"ui_spacer","name":"spacer","group":"","order":3,"width":"6","height":1},{"id":"a7aa4c01.08771","type":"ui_spacer","name":"spacer","group":"","order":1,"width":"6","height":1},{"id":"c3b17185.1d6b3","type":"ui_tab","z":"","name":"DEMO","icon":"dashboard"},{"id":"2011dc8c.7647b4","type":"ui_group","z":"","name":"Temperature TR","tab":"c3b17185.1d6b3","order":2,"disp":true,"width":"6","collapse":false},{"id":"ecd7b01f.0201e","type":"ui_group","z":"","name":"Light Intensity","tab":"c3b17185.1d6b3","order":4,"disp":true,"width":"6","collapse":false},{"id":"654f9a.46255068","type":"ui_group","z":"","name":"Potentiometer","tab":"c3b17185.1d6b3","order":3,"disp":true,"width":"6","collapse":false},{"id":"ea1f7e0d.71d02","type":"ui_group","z":"","name":"Temperature DDC-SE","tab":"c3b17185.1d6b3","order":1,"disp":true,"width":"6","collapse":false},{"id":"77bdbd3c.183594","type":"ui_group","z":"","name":"DDC-RE SW1","tab":"c3b17185.1d6b3","order":5,"disp":true,"width":"6","collapse":false},{"id":"c159caba.3534b8","type":"ui_group","z":"","name":"DDC-RE SW2","tab":"c3b17185.1d6b3","order":6,"disp":true,"width":"6","collapse":false},{"id":"f941b73.d0db448","type":"ui_group","z":"","name":"Coordinator Green LED ","tab":"c3b17185.1d6b3","order":7,"disp":true,"width":"6"},{"id":"9e1bb92b.001b78","type":"ui_group","z":"","name":"Coordinator Red LED","tab":"c3b17185.1d6b3","order":8,"disp":true,"width":"6"},{"id":"b9ebf82c.2c6618","type":"link in","z":"4686813e.5333c","name":"IQRF dev kit input","links":["1d79e9de.83ca26"],"x":195,"y":240,"wires":[["d4b53cfa.471d8","c57b4750.85eee8","ce8bd8bb.1a3918"]]},{"id":"d4b53cfa.471d8","type":"function","z":"4686813e.5333c","name":"ParsValue","func":"var sensor1;\nif (msg.payload.data.rsp.hwpId==2)\n{\nsensor1=msg.payload.data.rsp.result.sensors[1].value;\n}\nif (msg.payload.data.rsp.hwpId==19458)\n{\nsensor1=msg.payload.data.rsp.result.sensors[0].value;\n}\nsensor1=Math.round(sensor1*10)/10;\nmsg.payload=sensor1;\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":160,"wires":[["4a178122.c2d76","44d36be7.4f4b94"]]},{"id":"c57b4750.85eee8","type":"function","z":"4686813e.5333c","name":"ParsValue","func":"var data;\nif (msg.payload.data.rsp.hwpId===2)\n{\ndata=msg.payload.data.rsp.result.sensors[2].breakdown[0].value;\n}\nif (msg.payload.data.rsp.hwpId===19458)\n{\ndata=msg.payload=msg.payload.data.rsp.result.sensors[1].breakdown[0].value;\n}\nmsg.payload=data;\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":240,"wires":[["bd297424.c79188","ebb815cb.0e38d8"]]},{"id":"628fd8e7.20c758","type":"comment","z":"4686813e.5333c","name":"sensor - temp","info":"","x":410,"y":120,"wires":[]},{"id":"c28d3ccb.3153f","type":"comment","z":"4686813e.5333c","name":"sensor - light","info":"","x":410,"y":200,"wires":[]},{"id":"5172cfe3.8f852","type":"comment","z":"4686813e.5333c","name":"IQRF DDC-SE input","info":"","x":130,"y":200,"wires":[]},{"id":"ce8bd8bb.1a3918","type":"function","z":"4686813e.5333c","name":"ParsValue","func":"var data;\nif (msg.payload.data.rsp.hwpId===2)\n{\ndata=msg.payload.data.rsp.result.sensors[3].breakdown[0].value;\n}\nif (msg.payload.data.rsp.hwpId===19458)\n{\ndata=msg.payload=msg.payload.data.rsp.result.sensors[2].breakdown[0].value;\n}\nmsg.payload=data;\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":320,"wires":[["9f022393.87d01","af5e171b.3b4518"]]},{"id":"7c0cdfc8.6f01c","type":"comment","z":"4686813e.5333c","name":"sensor - poten.","info":"","x":420,"y":280,"wires":[]},{"id":"ff18689b.3f5508","type":"link in","z":"4686813e.5333c","name":"IQRF dev kit relays input","links":["7edb8d83.f71944"],"x":195,"y":480,"wires":[["945811ea.4444e","72ee12b4.4647cc"]]},{"id":"a62cb04a.ca609","type":"link out","z":"4686813e.5333c","name":"Relays output","links":["9556d2f8.2e39f"],"x":1015,"y":620,"wires":[]},{"id":"37f70ade.500666","type":"function","z":"4686813e.5333c","name":"DDC-RE SetOutput","func":"var stateOfRel=msg.payload;\n\nmsg.payload={\n    \"mType\": \"iqrfBinaryoutput_SetOutput\",\n    \"data\": {\n        \"msgId\": \"testEmbedBout\",\n        \"req\": {\n            \"nAdr\": 2,\n            \"param\": {\n                \"binOuts\": [\n                    {\n                        \"index\": 0,\n                        \"state\": true\n                    }\n                ]\n            }\n        },\n        \"returnVerbose\": true\n    }\n};\nmsg.payload.data.req.param.binOuts[0].state=stateOfRel;\nmsg.payload.data.req.nAdr=global.get(\"DDC-RE\");\n\nif (global.get(\"DDC-RE-hwpId\")===3074)\n{\n    msg.payload.data.req.param.binOuts[0].index=2;\n}\nif (global.get(\"DDC-RE-hwpId\")===18434)\n{\n    msg.payload.data.req.param.binOuts[0].index=0;\n}\n\n\n//\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":750,"y":440,"wires":[["a62cb04a.ca609"]]},{"id":"f79b36cc.89ee38","type":"function","z":"b6b58982.3409b8","name":"","func":"global.set('DDC-SE',msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":560,"wires":[[]]},{"id":"fa308674.bf8448","type":"ui_numeric","z":"b6b58982.3409b8","name":"","label":"DDC-SE","tooltip":"","group":"56089060.2aa7d","order":2,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":10,"step":1,"x":280,"y":560,"wires":[["f79b36cc.89ee38"]]},{"id":"4433ac93.ec01d4","type":"comment","z":"b6b58982.3409b8","name":"address set IQRF dev kit senzors","info":"","x":350,"y":520,"wires":[]},{"id":"3c49bd05.594822","type":"link out","z":"b6b58982.3409b8","name":"Data pull","links":["ea6bec9c.ee6cc"],"x":855,"y":160,"wires":[]},{"id":"d73a615e.a95f9","type":"function","z":"b6b58982.3409b8","name":"","func":"global.set('DDC-RE',msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":640,"wires":[[]]},{"id":"d0369476.ba44a8","type":"ui_numeric","z":"b6b58982.3409b8","name":"","label":"DDC-RE","tooltip":"","group":"56089060.2aa7d","order":3,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":10,"step":1,"x":280,"y":640,"wires":[["d73a615e.a95f9"]]},{"id":"ef0973d0.1c012","type":"comment","z":"b6b58982.3409b8","name":"address set IQRF dev kit relays","info":"","x":350,"y":600,"wires":[]},{"id":"21fc6e3e.653002","type":"comment","z":"4686813e.5333c","name":"Cmd. create","info":"","x":730,"y":400,"wires":[]},{"id":"31e3c3fe.fb8efc","type":"comment","z":"b6b58982.3409b8","name":"DATA PULL WITH ADDRESSS CHANGE","info":"","x":200,"y":60,"wires":[]},{"id":"60d902e2.2c753c","type":"comment","z":"b6b58982.3409b8","name":"ADDRESS SET - UI","info":"","x":130,"y":480,"wires":[]},{"id":"ce72713e.c2bed","type":"mqtt in","z":"7da53018.c047f","name":"Response","topic":"Iqrf/DpaResponse","qos":"2","broker":"f88954c6.b3f3d8","x":100,"y":140,"wires":[["163fb60.905bc4a"]]},{"id":"163fb60.905bc4a","type":"json","z":"7da53018.c047f","name":"","property":"payload","action":"","pretty":false,"x":310,"y":140,"wires":[["647b474a.b510a8","44bb70b1.b967b"]]},{"id":"1a976fab.f26d1","type":"comment","z":"7da53018.c047f","name":"Connection to a gateway via MQTT","info":"","x":180,"y":40,"wires":[]},{"id":"b9d26b44.941228","type":"comment","z":"7da53018.c047f","name":"Data JSON string to JavaScript object ","info":"","x":410,"y":100,"wires":[]},{"id":"d25a70e2.6bf09","type":"mqtt out","z":"7da53018.c047f","name":"","topic":"Iqrf/DpaRequest","qos":"","retain":"","broker":"f88954c6.b3f3d8","x":600,"y":360,"wires":[]},{"id":"765da23c.34bb2c","type":"comment","z":"7da53018.c047f","name":"DATA pull/request","info":"","x":310,"y":320,"wires":[]},{"id":"ea6bec9c.ee6cc","type":"link in","z":"7da53018.c047f","name":"Data pull","links":["3c49bd05.594822"],"x":375,"y":360,"wires":[["d25a70e2.6bf09"]]},{"id":"d081fc99.9f763","type":"comment","z":"7da53018.c047f","name":"MQTT response","info":"","x":120,"y":100,"wires":[]},{"id":"e145b3b7.7e383","type":"comment","z":"7da53018.c047f","name":"MQTT request","info":"","x":590,"y":320,"wires":[]},{"id":"ff2de7d.5d20318","type":"comment","z":"7da53018.c047f","name":"Examples: https://docs.iqrf.org/iqrf-gateway/api.html","info":"","x":210,"y":500,"wires":[]},{"id":"9556d2f8.2e39f","type":"link in","z":"7da53018.c047f","name":"Relays output","links":["a62cb04a.ca609"],"x":375,"y":440,"wires":[["d25a70e2.6bf09"]]},{"id":"269f2579.5029da","type":"ui_gauge","z":"4686813e.5333c","name":"Temperature TR","group":"2011dc8c.7647b4","order":0,"width":"6","height":"5","gtype":"gage","title":"","label":"C","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":660,"y":60,"wires":[]},{"id":"fd8ebe9c.90933","type":"ui_chart","z":"4686813e.5333c","name":"Temperature TR","group":"2011dc8c.7647b4","order":0,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"Waiting for data","dot":false,"ymin":"0","ymax":"100","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":true,"outputs":1,"x":660,"y":100,"wires":[[]]},{"id":"4a178122.c2d76","type":"ui_gauge","z":"4686813e.5333c","name":"Temperature DDC-SE","group":"ea1f7e0d.71d02","order":0,"width":"6","height":"5","gtype":"gage","title":"","label":"C","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":680,"y":140,"wires":[]},{"id":"44d36be7.4f4b94","type":"ui_chart","z":"4686813e.5333c","name":"Temperature DDC-SE","group":"ea1f7e0d.71d02","order":0,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"Waiting for data","dot":false,"ymin":"0","ymax":"100","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":true,"outputs":1,"x":680,"y":180,"wires":[[]]},{"id":"ebb815cb.0e38d8","type":"ui_gauge","z":"4686813e.5333c","name":"Light Intensity","group":"ecd7b01f.0201e","order":1,"width":0,"height":0,"gtype":"donut","title":"","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":660,"y":220,"wires":[]},{"id":"bd297424.c79188","type":"ui_chart","z":"4686813e.5333c","name":"Light Intensity","group":"ecd7b01f.0201e","order":2,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"Waiting for data","dot":false,"ymin":"0","ymax":"100","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":true,"outputs":1,"x":660,"y":260,"wires":[[]]},{"id":"9f022393.87d01","type":"ui_gauge","z":"4686813e.5333c","name":" potentiometer","group":"654f9a.46255068","order":0,"width":0,"height":0,"gtype":"compass","title":"","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":660,"y":300,"wires":[]},{"id":"af5e171b.3b4518","type":"ui_chart","z":"4686813e.5333c","name":" potentiometer","group":"654f9a.46255068","order":0,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"Waiting for data","dot":false,"ymin":"0","ymax":"100","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":true,"outputs":1,"x":660,"y":340,"wires":[[]]},{"id":"c48df5e9.df24c8","type":"comment","z":"4686813e.5333c","name":"IQRF MQTT","info":"","x":1070,"y":580,"wires":[]},{"id":"67b9718f.7a9fe","type":"ui_button","z":"4686813e.5333c","name":"ON","group":"77bdbd3c.183594","order":3,"width":"2","height":"1","passthru":false,"label":"ON","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"setout1","x":550,"y":400,"wires":[["37f70ade.500666"]]},{"id":"99f6ebe7.4c1d08","type":"ui_button","z":"4686813e.5333c","name":"OFF","group":"77bdbd3c.183594","order":2,"width":"2","height":"1","passthru":false,"label":"OFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"false","payloadType":"bool","topic":"setout1","x":550,"y":480,"wires":[["37f70ade.500666"]]},{"id":"6ee78721.e1dd08","type":"ui_button","z":"4686813e.5333c","name":"ON","group":"c159caba.3534b8","order":3,"width":"2","height":"1","passthru":false,"label":"ON","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"setout2","x":550,"y":520,"wires":[["e29942e2.1c67"]]},{"id":"66705923.5c2c88","type":"ui_button","z":"4686813e.5333c","name":"OFF","group":"c159caba.3534b8","order":2,"width":"2","height":"1","passthru":false,"label":"OFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"false","payloadType":"bool","topic":"setout2","x":550,"y":600,"wires":[["e29942e2.1c67"]]},{"id":"91686934.6dfe58","type":"ui_button","z":"4686813e.5333c","name":"ON","group":"9e1bb92b.001b78","order":3,"width":"3","height":"1","passthru":false,"label":"ON","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"redled","x":550,"y":780,"wires":[["ecb21130.490ad"]]},{"id":"1aec15dc.cdd0aa","type":"ui_button","z":"4686813e.5333c","name":"OFF","group":"9e1bb92b.001b78","order":2,"width":"3","height":"1","passthru":false,"label":"OFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"false","payloadType":"bool","topic":"redled","x":550,"y":840,"wires":[["ecb21130.490ad"]]},{"id":"5630ddbc.139844","type":"ui_button","z":"4686813e.5333c","name":"ON","group":"f941b73.d0db448","order":3,"width":"3","height":"1","passthru":false,"label":"ON","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"greenled","x":550,"y":680,"wires":[["4573c1a.e96974"]]},{"id":"edff0c7b.17652","type":"ui_button","z":"4686813e.5333c","name":"OFF","group":"f941b73.d0db448","order":2,"width":"3","height":"1","passthru":false,"label":"OFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"false","payloadType":"bool","topic":"greenled","x":550,"y":740,"wires":[["4573c1a.e96974"]]},{"id":"be763f6f.c215e","type":"ui_switch","z":"4686813e.5333c","name":"Switch 1","label":"Switch","tooltip":"","group":"77bdbd3c.183594","order":1,"width":"2","height":"1","passthru":false,"decouple":"true","topic":"setout1","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":540,"y":440,"wires":[["37f70ade.500666"]]},{"id":"2df4d6fd.cda32a","type":"ui_switch","z":"4686813e.5333c","name":"Switch 2","label":"Switch","tooltip":"","group":"c159caba.3534b8","order":1,"width":"2","height":"1","passthru":false,"decouple":"true","topic":"setout2","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":540,"y":560,"wires":[["e29942e2.1c67"]]},{"id":"f0e026c6.d42d08","type":"function","z":"4686813e.5333c","name":"Pars Temperature","func":"var sensor=msg.payload.data.rsp.result.temperature;\n\nsensor=Math.round(sensor*10)/10;\n\nmsg.payload=sensor;\n\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":80,"wires":[["269f2579.5029da","fd8ebe9c.90933"]]},{"id":"3019b3da.ea40ec","type":"comment","z":"4686813e.5333c","name":"Node temp","info":"","x":400,"y":40,"wires":[]},{"id":"2bd873d7.1734fc","type":"inject","z":"7da53018.c047f","name":"put examples here:","topic":"","payload":"{     \"mType\": \"mngDaemon_Version\",     \"data\": {         \"msgId\": \"testMngMode\",         \"returnVerbose\": true     } }","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":310,"y":540,"wires":[["d25a70e2.6bf09"]]},{"id":"eaaf91e2.f2087","type":"comment","z":"7da53018.c047f","name":"Data input - for future features","info":"","x":600,"y":200,"wires":[]},{"id":"647b474a.b510a8","type":"debug","z":"7da53018.c047f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":550,"y":240,"wires":[]},{"id":"9861962d.d1ae48","type":"function","z":"b6b58982.3409b8","name":"Read DDC-RE State","func":"var adress=global.get(\"DDC-RE\");\nvar reqeuest=\n{\n    \"mType\": \"iqrfBinaryoutput_SetOutput\",\n    \"data\": {\n        \"msgId\": \"IQRFdemo\",\n        \"req\": {\n            \"nAdr\": 1,\n            \"param\": {\n                \"binOuts\": []\n            }\n        },\n        \"returnVerbose\": true\n    }\n};\nreqeuest.data.req.nAdr=adress;\nmsg.payload=reqeuest;\nreturn msg;\n","outputs":1,"noerr":0,"x":440,"y":200,"wires":[["3c49bd05.594822"]]},{"id":"bbd00c8f.d9777","type":"function","z":"b6b58982.3409b8","name":"Read DDC-SE Sensors","func":"var adress=global.get(\"DDC-SE\");\nvar reqeuest=\n{\n    \"mType\": \"iqrfSensor_ReadSensorsWithTypes\",\n    \"data\": {\n        \"msgId\": \"IQRFdemo\",\n        \"req\": {\n            \"nAdr\": 1,\n            \"param\": {\n                \"sensorIndexes\": [\n                    0,\n                    1,\n                    2,\n                    3\n                ]\n            }\n        },\n        \"returnVerbose\": true\n    }\n};\nreqeuest.data.req.nAdr=adress;\nmsg.payload=reqeuest;\nreturn msg;\n\n","outputs":1,"noerr":0,"x":450,"y":120,"wires":[["3c49bd05.594822"]]},{"id":"c25bbbc4.120568","type":"inject","z":"b6b58982.3409b8","name":"Repeat interval 5s","topic":"Repeat interval 5s","payload":"","payloadType":"date","repeat":"50","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":200,"wires":[["9861962d.d1ae48","bbd00c8f.d9777","433d6b21.5625d4"]]},{"id":"912481d1.ccf05","type":"inject","z":"b6b58982.3409b8","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":130,"y":560,"wires":[["fa308674.bf8448"]]},{"id":"dc36db1e.b75a48","type":"inject","z":"b6b58982.3409b8","name":"","topic":"","payload":"2","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":130,"y":640,"wires":[["d0369476.ba44a8"]]},{"id":"840fb992.b77c08","type":"comment","z":"b6b58982.3409b8","name":"DATA RECEIVE FILTER","info":"","x":150,"y":260,"wires":[]},{"id":"20758b5.7a24a74","type":"switch","z":"b6b58982.3409b8","name":"DDC-SE nAdr","property":"payload.data.rsp.nAdr","propertyType":"msg","rules":[{"t":"eq","v":"DDC-SE","vt":"global"}],"checkall":"true","repair":false,"outputs":1,"x":420,"y":340,"wires":[["bdb25277.b82e5"]]},{"id":"bdb25277.b82e5","type":"switch","z":"b6b58982.3409b8","name":"STD SEN","property":"payload.mType","propertyType":"msg","rules":[{"t":"eq","v":"iqrfSensor_ReadSensorsWithTypes","vt":"str"},{"t":"eq","v":"iqrfEmbedThermometer_Read","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":700,"y":340,"wires":[["1d79e9de.83ca26"],["be1aa108.0b8db"]]},{"id":"f214b49b.51ae98","type":"comment","z":"b6b58982.3409b8","name":"Filter to STD-Sensors","info":"","x":740,"y":300,"wires":[]},{"id":"1bd869d.34d1a96","type":"comment","z":"b6b58982.3409b8","name":"Filter by IQRF DDC-SE ADDRES","info":"","x":470,"y":300,"wires":[]},{"id":"1d79e9de.83ca26","type":"link out","z":"b6b58982.3409b8","name":"IQRF DDC-SE","links":["b9ebf82c.2c6618","80b53b9b.4e2788"],"x":935,"y":320,"wires":[]},{"id":"44bb70b1.b967b","type":"link out","z":"7da53018.c047f","name":"IQRF input","links":["f43a8f5b.fc3af"],"x":695,"y":140,"wires":[]},{"id":"f43a8f5b.fc3af","type":"link in","z":"b6b58982.3409b8","name":"IQRF input","links":["44bb70b1.b967b"],"x":55,"y":340,"wires":[["15e6cf1f.575981"]]},{"id":"fd5ef89b.c15f18","type":"comment","z":"7da53018.c047f","name":"UI Request","info":"","x":340,"y":400,"wires":[]},{"id":"678edade.6dc444","type":"comment","z":"7da53018.c047f","name":"IQRF Response","info":"","x":760,"y":100,"wires":[]},{"id":"15e6cf1f.575981","type":"switch","z":"b6b58982.3409b8","name":"","property":"payload.data.msgId","propertyType":"msg","rules":[{"t":"eq","v":"IQRFdemo","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":190,"y":340,"wires":[["20758b5.7a24a74","73f66847.439818"]]},{"id":"7c8d801e.4ecc5","type":"comment","z":"b6b58982.3409b8","name":"Filter to IQRFdemo","info":"","x":230,"y":300,"wires":[]},{"id":"f8592d22.6c53e","type":"switch","z":"b6b58982.3409b8","name":"STD BIN","property":"payload.mType","propertyType":"msg","rules":[{"t":"eq","v":"iqrfBinaryoutput_SetOutput","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":700,"y":440,"wires":[["7edb8d83.f71944"]]},{"id":"a8f4aa58.9795b8","type":"comment","z":"b6b58982.3409b8","name":"Filter to STD-Binary","info":"","x":730,"y":400,"wires":[]},{"id":"73f66847.439818","type":"switch","z":"b6b58982.3409b8","name":"DDC-RE nAdr","property":"payload.data.rsp.nAdr","propertyType":"msg","rules":[{"t":"eq","v":"DDC-RE","vt":"global"}],"checkall":"true","repair":false,"outputs":1,"x":420,"y":440,"wires":[["f8592d22.6c53e"]]},{"id":"cc97402f.5f481","type":"comment","z":"b6b58982.3409b8","name":"Filter by IQRF DDC-RE ADDRES","info":"","x":470,"y":400,"wires":[]},{"id":"7edb8d83.f71944","type":"link out","z":"b6b58982.3409b8","name":"IQRF DDC-RE","links":["ff18689b.3f5508"],"x":935,"y":440,"wires":[]},{"id":"767a5588.f707dc","type":"comment","z":"4686813e.5333c","name":"IQRF DDC-RE input","info":"","x":130,"y":440,"wires":[]},{"id":"4573c1a.e96974","type":"function","z":"4686813e.5333c","name":"Coordinator Ledg_Set","func":"var stateOfRel=msg.payload;\n\nmsg.payload={\n  \"mType\": \"iqrfEmbedLedg_Set\",\n  \"data\": {\n    \"msgId\": \"IQRFdemo\",\n    \"req\": {\n      \"nAdr\": 0,\n      \"param\": {\n        \"onOff\": true\n      }\n    },\n    \"returnVerbose\": true\n  }\n};\n\nmsg.payload.data.req.param.onOff=stateOfRel;\n\nreturn msg;\n","outputs":1,"noerr":0,"x":760,"y":720,"wires":[["a62cb04a.ca609"]]},{"id":"9631b7c8.a39cd8","type":"comment","z":"4686813e.5333c","name":"IQRF Coordinator LED","info":"","x":760,"y":680,"wires":[]},{"id":"e29942e2.1c67","type":"function","z":"4686813e.5333c","name":"DDC-RE SetOutput","func":"var stateOfRel=msg.payload;\n\nmsg.payload={\n    \"mType\": \"iqrfBinaryoutput_SetOutput\",\n    \"data\": {\n        \"msgId\": \"IQRFdemo\",\n        \"req\": {\n            \"nAdr\": 2,\n            \"param\": {\n                \"binOuts\": [\n                    {\n                        \"index\": 1,\n                        \"state\": true\n                    }\n                ]\n            }\n        },\n        \"returnVerbose\": true\n    }\n};\nmsg.payload.data.req.param.binOuts[0].state=stateOfRel;\nmsg.payload.data.req.nAdr=global.get(\"DDC-RE\");\n\nif (global.get(\"DDC-RE-hwpId\")===3074)\n{\n    msg.payload.data.req.param.binOuts[0].index=3;\n}\nif (global.get(\"DDC-RE-hwpId\")===18434)\n{\n    msg.payload.data.req.param.binOuts[0].index=1;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":560,"wires":[["a62cb04a.ca609"]]},{"id":"ecb21130.490ad","type":"function","z":"4686813e.5333c","name":"Coordinator Ledr_Set","func":"var stateOfRel=msg.payload;\n\nmsg.payload={\n  \"mType\": \"iqrfEmbedLedr_Set\",\n  \"data\": {\n    \"msgId\": \"IQRFdemo\",\n    \"req\": {\n      \"nAdr\": 0,\n      \"param\": {\n        \"onOff\": true\n      }\n    },\n    \"returnVerbose\": true\n  }\n};\n\nmsg.payload.data.req.param.onOff=stateOfRel;\n\nreturn msg;\n","outputs":1,"noerr":0,"x":760,"y":820,"wires":[["a62cb04a.ca609"]]},{"id":"a2fcb75a.0cca88","type":"comment","z":"b6b58982.3409b8","name":"IQRF MQTT","info":"","x":821.0000228881836,"y":118.00000333786011,"wires":[]},{"id":"adb2b3c8.4ab29","type":"link in","z":"4686813e.5333c","name":"EmbedThermometer","links":["be1aa108.0b8db"],"x":195,"y":80,"wires":[["f0e026c6.d42d08"]]},{"id":"7ec300e3.9b44e","type":"comment","z":"4686813e.5333c","name":"IQRF DDC-SE EmbedThermometer","info":"","x":160,"y":40,"wires":[]},{"id":"433d6b21.5625d4","type":"function","z":"b6b58982.3409b8","name":"Read DDC-SE EmbedThermometer_Read","func":"var adress=global.get(\"DDC-SE\");\nvar reqeuest=\n{\n    \"mType\": \"iqrfEmbedThermometer_Read\",\n    \"data\": {\n        \"msgId\": \"IQRFdemo\",\n        \"req\": {\n            \"nAdr\": 1,\n            \"param\": {}\n        },\n        \"returnVerbose\": true\n    }\n};\nreqeuest.data.req.nAdr=adress;\nmsg.payload=reqeuest;\nreturn msg;\n","outputs":1,"noerr":0,"x":510,"y":160,"wires":[["3c49bd05.594822"]]},{"id":"be1aa108.0b8db","type":"link out","z":"b6b58982.3409b8","name":"IQRF DDC-SE iqrfEmbedThermometer_Read","links":["adb2b3c8.4ab29"],"x":935,"y":360,"wires":[]},{"id":"945811ea.4444e","type":"function","z":"4686813e.5333c","name":"ReadState","func":"global.set('DDC-RE-hwpId',msg.payload.data.rsp.hwpId);\nif(msg.payload.mType === \"iqrfBinaryoutput_SetOutput\")\n{\n    \n    if (global.get(\"DDC-RE-hwpId\")===3074)\n    {\n        msg.payload=msg.payload.data.rsp.result.prevVals[2];\n    }\n    if (global.get(\"DDC-RE-hwpId\")===18434)\n    {\n        msg.payload=msg.payload.data.rsp.result.prevVals[0];\n    }\n        \n    return msg;\n}\n\nreturn null;\n\n","outputs":1,"noerr":0,"x":373.00000762939453,"y":439.33337211608887,"wires":[["be763f6f.c215e"]]},{"id":"72ee12b4.4647cc","type":"function","z":"4686813e.5333c","name":"ReadState","func":"global.set('DDC-RE-hwpId',msg.payload.data.rsp.hwpId);\nif(msg.payload.mType === \"iqrfBinaryoutput_SetOutput\")\n{\n    if (global.get(\"DDC-RE-hwpId\")===3074)\n    {\n        msg.payload=msg.payload.data.rsp.result.prevVals[3];\n    }\n    if (global.get(\"DDC-RE-hwpId\")===18434)\n    {\n        msg.payload=msg.payload.data.rsp.result.prevVals[1];\n    }\n    return msg;\n}\n\nreturn null;","outputs":1,"noerr":0,"x":373.00000762939453,"y":559.3333721160889,"wires":[["2df4d6fd.cda32a"]]}]