extensions/jotio.cz/Jotio_App_NodeRed_mqtt_test.txt
[
    {
        "id": "4f013f50.01be4",
        "type": "tab",
        "label": "JoTio_App"
    },
    {
        "id": "119005f7.ff865a",
        "type": "tab",
        "label": "Test MQTT"
    },
    {
        "id": "708bd7c3.ed7e88",
        "type": "mqtt-broker",
        "z": "",
        "broker": "172.25.3.1",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": ""
    },
    {
        "id": "f5bcda9.8f81f28",
        "type": "ui_group",
        "z": "",
        "name": "Temperature",
        "tab": "fe08e831.f281e8",
        "order": 1,
        "disp": true,
        "width": "6"
    },
    {
        "id": "32e110da.a494d",
        "type": "ui_group",
        "z": "",
        "name": "Light",
        "tab": "fe08e831.f281e8",
        "order": 2,
        "disp": true,
        "width": "6"
    },
    {
        "id": "29da2e3b.56b662",
        "type": "ui_group",
        "z": "",
        "name": "Potentiometer",
        "tab": "fe08e831.f281e8",
        "order": 3,
        "disp": true,
        "width": "6"
    },
    {
        "id": "b1871770.d1eb78",
        "type": "ui_group",
        "z": "",
        "name": "Relay",
        "tab": "fe08e831.f281e8",
        "order": 4,
        "disp": true,
        "width": "6"
    },
    {
        "id": "5540f799.eeb8d8",
        "type": "ui_group",
        "z": "",
        "name": "Red LED",
        "tab": "fe08e831.f281e8",
        "order": 5,
        "disp": true,
        "width": "6"
    },
    {
        "id": "38176b1d.f1d584",
        "type": "ui_group",
        "z": "",
        "name": "Green LED",
        "tab": "fe08e831.f281e8",
        "disp": true,
        "width": "6"
    },
    {
        "id": "fe08e831.f281e8",
        "type": "ui_tab",
        "z": "",
        "name": "IQRF",
        "icon": "dashboard"
    },
    {
        "id": "5c10b1.f74fef5",
        "type": "mqtt in",
        "z": "4f013f50.01be4",
        "name": "Status",
        "topic": "status/02",
        "qos": "2",
        "broker": "708bd7c3.ed7e88",
        "x": 90,
        "y": 620,
        "wires": [
            [
                "7b25fb.e28a8a04"
            ]
        ]
    },
    {
        "id": "7fe7d88d.0d2538",
        "type": "mqtt out",
        "z": "4f013f50.01be4",
        "name": "Status",
        "topic": "status/02",
        "qos": "",
        "retain": "",
        "broker": "708bd7c3.ed7e88",
        "x": 730,
        "y": 1100,
        "wires": []
    },
    {
        "id": "80dd8df9.5ae42",
        "type": "inject",
        "z": "4f013f50.01be4",
        "name": "Timer",
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "repeat": "3",
        "crontab": "",
        "once": false,
        "x": 140,
        "y": 160,
        "wires": [
            [
                "e660f51d.329bb8"
            ]
        ]
    },
    {
        "id": "7b25fb.e28a8a04",
        "type": "json",
        "z": "4f013f50.01be4",
        "name": "",
        "x": 210,
        "y": 620,
        "wires": [
            [
                "f75fe019.627e7",
                "48add1ee.b53a"
            ]
        ]
    },
    {
        "id": "b8153db6.4c0a1",
        "type": "ui_gauge",
        "z": "4f013f50.01be4",
        "name": "Temperature",
        "group": "f5bcda9.8f81f28",
        "order": 0,
        "width": "6",
        "height": "5",
        "gtype": "gage",
        "title": "Temperature",
        "label": "Celsius",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "x": 530,
        "y": 740,
        "wires": []
    },
    {
        "id": "9a01f2f7.87552",
        "type": "ui_gauge",
        "z": "4f013f50.01be4",
        "name": "Light",
        "group": "32e110da.a494d",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "Light",
        "label": "Resistance",
        "format": "{{value}}",
        "min": 0,
        "max": "256",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "x": 510,
        "y": 860,
        "wires": []
    },
    {
        "id": "27311782.e0c6d8",
        "type": "ui_gauge",
        "z": "4f013f50.01be4",
        "name": "Potentiometer",
        "group": "29da2e3b.56b662",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "compass",
        "title": "Potentiometer",
        "label": "Volume",
        "format": "{{value}}",
        "min": 0,
        "max": "256",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "x": 540,
        "y": 980,
        "wires": []
    },
    {
        "id": "c12567f2.7084f8",
        "type": "function",
        "z": "4f013f50.01be4",
        "name": "Get value",
        "func": "var res=msg.payload.response.pdata.split(\".\");\nmsg.payload=parseInt(res[0],16);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 360,
        "y": 760,
        "wires": [
            [
                "b8153db6.4c0a1",
                "6bcac348.e05d1c",
                "597a2b0f.4dc524"
            ]
        ]
    },
    {
        "id": "6bcac348.e05d1c",
        "type": "debug",
        "z": "4f013f50.01be4",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "payload",
        "x": 950,
        "y": 760,
        "wires": []
    },
    {
        "id": "297f10f7.04b27",
        "type": "function",
        "z": "4f013f50.01be4",
        "name": "Get value",
        "func": "var res=msg.payload.response.pdata.split(\".\");\nmsg.payload=parseInt(res[2],16);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 360,
        "y": 1000,
        "wires": [
            [
                "27311782.e0c6d8",
                "b8ffab85.408218",
                "f9d894c2.830218"
            ]
        ]
    },
    {
        "id": "e553ba2.7578248",
        "type": "function",
        "z": "4f013f50.01be4",
        "name": "Get value",
        "func": "var res=msg.payload.response.pdata.split(\".\");\nmsg.payload=parseInt(res[1],16);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 360,
        "y": 880,
        "wires": [
            [
                "9a01f2f7.87552",
                "d467fb0c.6ba298",
                "4fbdbed0.28bff"
            ]
        ]
    },
    {
        "id": "597a2b0f.4dc524",
        "type": "ui_chart",
        "z": "4f013f50.01be4",
        "name": "Temperature",
        "group": "f5bcda9.8f81f28",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Temperature",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "Waiting for data",
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "20",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "x": 530,
        "y": 780,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "d467fb0c.6ba298",
        "type": "ui_chart",
        "z": "4f013f50.01be4",
        "name": "Light",
        "group": "32e110da.a494d",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Light",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "Waiting for data",
        "ymin": "0",
        "ymax": "256",
        "removeOlder": "20",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "x": 510,
        "y": 900,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "b8ffab85.408218",
        "type": "ui_chart",
        "z": "4f013f50.01be4",
        "name": "Potentiometer",
        "group": "29da2e3b.56b662",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Potentiometer",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "bezier",
        "nodata": "Waiting for data",
        "ymin": "0",
        "ymax": "256",
        "removeOlder": "20",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "x": 540,
        "y": 1020,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "4fbdbed0.28bff",
        "type": "debug",
        "z": "4f013f50.01be4",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "payload",
        "x": 950,
        "y": 880,
        "wires": []
    },
    {
        "id": "f9d894c2.830218",
        "type": "debug",
        "z": "4f013f50.01be4",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "payload",
        "x": 730,
        "y": 1000,
        "wires": []
    },
    {
        "id": "56a586aa.809418",
        "type": "function",
        "z": "4f013f50.01be4",
        "name": "JSONtoIQRF",
        "func": "out = ('000'+Number(msg.payload.request.nadr).toString(16)).slice(-2);\nout += \".\"+(('000'+Number(msg.payload.request.nadr).toString(16)).slice(-4)).substr(0,2);\nout += \".\"+('0'+Number(msg.payload.request.pnum).toString(16)).slice(-2);\nout += \".\"+('0'+Number(msg.payload.request.pcmd).toString(16)).slice(-2);\nout += \".\"+('000'+Number(msg.payload.request.hwpid).toString(16)).slice(-2);\nout += \".\"+(('000'+Number(msg.payload.request.hwpid).toString(16)).slice(-4)).substr(0,2);\n\nif (typeof msg.payload.request.pdata1 !== 'undefined' && msg.payload.request.pdata1 !== null) {\n  out += \" \"+('0'+Number(msg.payload.request.pdata1).toString(16)).slice(-2);\n  if (typeof msg.payload.request.pdata2 !== 'undefined' && msg.payload.request.pdata2 !== null) {\n    out += \" \"+('0'+Number(msg.payload.request.pdata2).toString(16)).slice(-2);\n  }    \n}\nmsg.payload= {ctype:\"dpa\", type: msg.payload.type, request: out, timeout: msg.payload.timeout};\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 710,
        "y": 400,
        "wires": [
            [
                "d37211a1.7b3de",
                "d2a39405.d3f348"
            ]
        ]
    },
    {
        "id": "ade3fdea.03151",
        "type": "debug",
        "z": "4f013f50.01be4",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 750,
        "y": 1060,
        "wires": []
    },
    {
        "id": "e660f51d.329bb8",
        "type": "function",
        "z": "4f013f50.01be4",
        "name": "Req sensor",
        "func": "var data={\n    type: \"raw\",\n    request: {\n        nadr: \"0x0001\",\n        pnum: \"0x20\",\n        pcmd: \"0x31\",\n        hwpid: \"0xFFFF\"\n    },\n    timeout: 0\n}\nmsg.payload=data;\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 350,
        "y": 160,
        "wires": [
            [
                "56a586aa.809418"
            ]
        ]
    },
    {
        "id": "a3207b10.1080c8",
        "type": "inject",
        "z": "4f013f50.01be4",
        "name": "",
        "topic": "",
        "payload": "Test",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 110,
        "y": 1100,
        "wires": [
            [
                "cd2e926a.ee11c"
            ]
        ]
    },
    {
        "id": "cd2e926a.ee11c",
        "type": "function",
        "z": "4f013f50.01be4",
        "name": "Req Tst",
        "func": "var data={\n    request: {\n        nadr:  \"0x0001\",\n        pnum:  \"0x20\",\n        pcmd:  \"0xB1\",\n        hwpid: \"0x001E\",\n        err:   \"0x00\",\n        dpa:   \"0x67\",\n        pdata1: \"27\",\n        pdata2: \"101\",\n        pdata3: \"200\"\n    },\n}\nmsg.payload=data.request;\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 240,
        "y": 1100,
        "wires": [
            [
                "9db726e3.567d38"
            ]
        ]
    },
    {
        "id": "9db726e3.567d38",
        "type": "function",
        "z": "4f013f50.01be4",
        "name": "JSONtoIQRF",
        "func": "out = ('000'+Number(msg.payload.nadr).toString(16)).slice(-2);\nout += \" \"+(('000'+Number(msg.payload.nadr).toString(16)).slice(-4)).substr(0,2);\nout += \" \"+('0'+Number(msg.payload.pnum).toString(16)).slice(-2);\nout += \" \"+('0'+Number(msg.payload.pcmd).toString(16)).slice(-2);\nout += \" \"+('000'+Number(msg.payload.hwpid).toString(16)).slice(-2);\nout += \" \"+(('000'+Number(msg.payload.hwpid).toString(16)).slice(-4)).substr(0,2);\n\nres = ('000'+Number(msg.payload.nadr).toString(16)).slice(-2);\nres += \" \"+(('000'+Number(msg.payload.nadr).toString(16)).slice(-4)).substr(0,2);\nres += \" \"+('0'+Number(msg.payload.pnum).toString(16)).slice(-2);\nres += \" \"+('0'+Number(msg.payload.pcmd).toString(16)).slice(-2);\nres += \" \"+('000'+Number(msg.payload.hwpid).toString(16)).slice(-2);\nres += \" \"+(('000'+Number(msg.payload.hwpid).toString(16)).slice(-4)).substr(0,2);\nres += \" \"+('0'+Number(msg.payload.err).toString(16)).slice(-2);\nres += \" \"+('0'+Number(msg.payload.dpa).toString(16)).slice(-2);\nres += \" \"+('0'+Number(msg.payload.pdata1).toString(16)).slice(-2);\nres += \" \"+('0'+Number(msg.payload.pdata2).toString(16)).slice(-2);\nres += \" \"+('0'+Number(msg.payload.pdata3).toString(16)).slice(-2);\n\n//res += ('00000'+Number(msg.payload.pdata).toString(16)).slice(-2)+\" \";\n//res += (('00000'+Number(msg.payload.pdata).toString(16)).slice(-4)).substr(0,2);\n//res += (('00000'+Number(msg.payload.pdata).toString(16)).slice(-4)).substr(0,2);\n\nmsg.payload= {Type: \"Raw\", Request: out, Response: res};\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 390,
        "y": 1100,
        "wires": [
            [
                "7fe7d88d.0d2538",
                "ade3fdea.03151"
            ]
        ]
    },
    {
        "id": "d2a39405.d3f348",
        "type": "mqtt out",
        "z": "4f013f50.01be4",
        "name": "Command",
        "topic": "command/02",
        "qos": "",
        "retain": "",
        "broker": "708bd7c3.ed7e88",
        "x": 930,
        "y": 340,
        "wires": []
    },
    {
        "id": "4e8b03d1.64943c",
        "type": "mqtt in",
        "z": "4f013f50.01be4",
        "name": "Command",
        "topic": "command/02",
        "qos": "2",
        "broker": "708bd7c3.ed7e88",
        "x": 537.0000457763672,
        "y": 59,
        "wires": [
            [
                "d2a2d4a.83c8e28"
            ]
        ]
    },
    {
        "id": "fc2e6efc.9b351",
        "type": "debug",
        "z": "4f013f50.01be4",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 830,
        "y": 60,
        "wires": []
    },
    {
        "id": "d2a2d4a.83c8e28",
        "type": "json",
        "z": "4f013f50.01be4",
        "name": "",
        "x": 670,
        "y": 60,
        "wires": [
            [
                "fc2e6efc.9b351"
            ]
        ]
    },
    {
        "id": "baf6ab78.167168",
        "type": "inject",
        "z": "4f013f50.01be4",
        "name": "Switch 1 ON",
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 350,
        "y": 220,
        "wires": [
            [
                "af26a613.6e54f8"
            ]
        ]
    },
    {
        "id": "af26a613.6e54f8",
        "type": "function",
        "z": "4f013f50.01be4",
        "name": "Switch relay 1 and 2",
        "func": "var data={\n    type: \"raw\",\n    request: {\n        nadr: \"0x0002\",\n        pnum: \"0x20\",\n        pcmd: \"0x32\",\n        hwpid: \"0xFFFF\",\n        pdata1: \"0x00\",\n        pdata2: \"0x00\"\n    },\n    timeout: 1000\n}\nvar command=msg.payload;\nmsg.payload=data;\nmsg.payload.request.pdata1=command;\nmsg.payload.request.pdata2=command;\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 580,
        "y": 260,
        "wires": [
            [
                "56a586aa.809418"
            ]
        ]
    },
    {
        "id": "9964fa6f.7090d8",
        "type": "inject",
        "z": "4f013f50.01be4",
        "name": "Switch 2 ON",
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 350,
        "y": 360,
        "wires": [
            [
                "739148ee.380038"
            ]
        ]
    },
    {
        "id": "739148ee.380038",
        "type": "function",
        "z": "4f013f50.01be4",
        "name": "LED 1",
        "func": "var data={\n    type: \"raw\",\n    request: {\n        nadr: \"0x0001\",\n        pnum: \"0x06\",\n        pcmd: \"0x00\",\n        hwpid: \"0xFFFF\"\n    },\n    timeout: 1000\n}\nvar command=msg.payload;\nmsg.payload=data;\nmsg.payload.request.pcmd=command;\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 530,
        "y": 400,
        "wires": [
            [
                "56a586aa.809418"
            ]
        ]
    },
    {
        "id": "9823d7.69b35c28",
        "type": "inject",
        "z": "4f013f50.01be4",
        "name": "Switch 1 OFF",
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 350,
        "y": 300,
        "wires": [
            [
                "af26a613.6e54f8"
            ]
        ]
    },
    {
        "id": "7e90be18.200aa",
        "type": "inject",
        "z": "4f013f50.01be4",
        "name": "Switch 2 OFF",
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 350,
        "y": 440,
        "wires": [
            [
                "739148ee.380038"
            ]
        ]
    },
    {
        "id": "ff9fbd01.da727",
        "type": "ui_button",
        "z": "4f013f50.01be4",
        "name": "Relay ON",
        "group": "b1871770.d1eb78",
        "order": 2,
        "width": "2",
        "height": "1",
        "label": "ON",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "1",
        "payloadType": "num",
        "topic": "",
        "x": 120,
        "y": 240,
        "wires": [
            [
                "217599f6.a822d6"
            ]
        ]
    },
    {
        "id": "ed755133.946e4",
        "type": "ui_button",
        "z": "4f013f50.01be4",
        "name": "Relay OFF",
        "group": "b1871770.d1eb78",
        "order": 3,
        "width": "2",
        "height": "1",
        "label": "OFF",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "0",
        "payloadType": "num",
        "topic": "",
        "x": 130,
        "y": 280,
        "wires": [
            [
                "217599f6.a822d6"
            ]
        ]
    },
    {
        "id": "d7343d9f.fbf52",
        "type": "ui_button",
        "z": "4f013f50.01be4",
        "name": "RED LED ON",
        "group": "5540f799.eeb8d8",
        "order": 2,
        "width": "2",
        "height": "1",
        "label": "ON",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "1",
        "payloadType": "num",
        "topic": "",
        "x": 140,
        "y": 380,
        "wires": [
            [
                "e6133f7d.f4d46"
            ]
        ]
    },
    {
        "id": "7a60689e.b5f998",
        "type": "ui_button",
        "z": "4f013f50.01be4",
        "name": "RED LED OFF",
        "group": "5540f799.eeb8d8",
        "order": 3,
        "width": "2",
        "height": "1",
        "label": "OFF",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "0",
        "payloadType": "num",
        "topic": "",
        "x": 140,
        "y": 420,
        "wires": [
            [
                "e6133f7d.f4d46"
            ]
        ]
    },
    {
        "id": "e6133f7d.f4d46",
        "type": "ui_switch",
        "z": "4f013f50.01be4",
        "name": "RED LED",
        "label": "LED",
        "group": "5540f799.eeb8d8",
        "order": 1,
        "width": "2",
        "height": "1",
        "passthru": true,
        "topic": "",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "x": 340,
        "y": 400,
        "wires": [
            [
                "739148ee.380038"
            ]
        ]
    },
    {
        "id": "217599f6.a822d6",
        "type": "ui_switch",
        "z": "4f013f50.01be4",
        "name": "Switch 1",
        "label": "Switch",
        "group": "b1871770.d1eb78",
        "order": 1,
        "width": "2",
        "height": "1",
        "passthru": true,
        "topic": "",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "x": 340,
        "y": 260,
        "wires": [
            [
                "af26a613.6e54f8"
            ]
        ]
    },
    {
        "id": "a07147d0.b72ad8",
        "type": "inject",
        "z": "4f013f50.01be4",
        "name": "LED ON",
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 340,
        "y": 500,
        "wires": [
            [
                "8c4ad3ef.53c6a"
            ]
        ]
    },
    {
        "id": "8c4ad3ef.53c6a",
        "type": "function",
        "z": "4f013f50.01be4",
        "name": "LED 2",
        "func": "var data={\n    type: \"raw\",\n    request: {\n        nadr: \"0x0001\",\n        pnum: \"0x07\",\n        pcmd: \"0x00\",\n        hwpid: \"0xFFFF\"\n    },\n    timeout: 1000\n}\nvar command=msg.payload;\nmsg.payload=data;\nmsg.payload.request.pcmd=command;\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 530,
        "y": 540,
        "wires": [
            [
                "56a586aa.809418"
            ]
        ]
    },
    {
        "id": "bd832c6b.2c0b6",
        "type": "inject",
        "z": "4f013f50.01be4",
        "name": "LED OFF",
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 340,
        "y": 580,
        "wires": [
            [
                "8c4ad3ef.53c6a"
            ]
        ]
    },
    {
        "id": "4f33023c.99d0bc",
        "type": "ui_button",
        "z": "4f013f50.01be4",
        "name": "GREEN LED ON",
        "group": "38176b1d.f1d584",
        "order": 2,
        "width": "2",
        "height": "1",
        "label": "ON",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "1",
        "payloadType": "num",
        "topic": "",
        "x": 150,
        "y": 520,
        "wires": [
            [
                "60d72661.0fcb58"
            ]
        ]
    },
    {
        "id": "be39bed7.bc2e8",
        "type": "ui_button",
        "z": "4f013f50.01be4",
        "name": "GREEN LED OFF",
        "group": "38176b1d.f1d584",
        "order": 3,
        "width": "2",
        "height": "1",
        "label": "OFF",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "0",
        "payloadType": "num",
        "topic": "",
        "x": 150,
        "y": 560,
        "wires": [
            [
                "60d72661.0fcb58"
            ]
        ]
    },
    {
        "id": "60d72661.0fcb58",
        "type": "ui_switch",
        "z": "4f013f50.01be4",
        "name": "GREEN LED",
        "label": "LED",
        "group": "38176b1d.f1d584",
        "order": 1,
        "width": "2",
        "height": "1",
        "passthru": true,
        "topic": "",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "x": 350,
        "y": 540,
        "wires": [
            [
                "8c4ad3ef.53c6a"
            ]
        ]
    },
    {
        "id": "d37211a1.7b3de",
        "type": "debug",
        "z": "4f013f50.01be4",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 930,
        "y": 400,
        "wires": []
    },
    {
        "id": "b3f16021.cbe42",
        "type": "switch",
        "z": "4f013f50.01be4",
        "name": "HWPID == 30",
        "property": "payload.response.hwpid",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "30",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "outputs": 1,
        "x": 159.5,
        "y": 788.2000427246094,
        "wires": [
            [
                "c2e5fbcd.45d3d8"
            ]
        ]
    },
    {
        "id": "c2e5fbcd.45d3d8",
        "type": "switch",
        "z": "4f013f50.01be4",
        "name": "PNUM ?",
        "property": "payload.response.pnum",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "32",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "06",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "07",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "outputs": 3,
        "x": 169.5,
        "y": 877.8000183105469,
        "wires": [
            [
                "c12567f2.7084f8",
                "e553ba2.7578248",
                "297f10f7.04b27"
            ],
            [],
            []
        ]
    },
    {
        "id": "f75fe019.627e7",
        "type": "function",
        "z": "4f013f50.01be4",
        "name": "IQRFtoJSON",
        "func": "var response=msg.payload.response.split(\".\");\nvar request=msg.payload.request.split(\".\");\n\nvar data={\n    type: \"\",\n    request: {\n        nadr: \"\",\n        pnum: \"\",\n        pcmd: \"\",\n        hwpid: \"\"\n    },\n    response: {\n        nadr: \"\",\n        pnum: \"\",\n        pcmd: \"\",\n        hwpid: \"\",\n        errn: \"\",\n        dpa: \"\",\n        pdata: \"\",\n    },\n    timeout: \"\",\n    result: \"\"\n}\n\n\ndata.type = msg.payload.type;\n\ndata.request.nadr=parseInt(request[0], 16) + (parseInt(request[1], 16)*256);\ndata.request.pnum=parseInt(request[2], 16);\ndata.request.pcmd=parseInt(request[3], 16);\ndata.request.hwpid=parseInt(request[4], 16) + (parseInt(request[5], 16)*256);\n\ndata.response.nadr=parseInt(response[0], 16) + (parseInt(response[1], 16)*256);\ndata.response.pnum=parseInt(response[2], 16);\ndata.response.pcmd=parseInt(response[3], 16);\ndata.response.hwpid=parseInt(response[4], 16) + (parseInt(response[5], 16)*256);\ndata.response.errn=parseInt(response[6], 16);\ndata.response.dpa=parseInt(response[7], 16);\ndata.response.pdata=msg.payload.response.slice(24).trim();\ndata.timeout=msg.payload.timeout;\ndata.result=msg.payload.result;\nmsg.payload=data;\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 370,
        "y": 620,
        "wires": [
            [
                "aa10ee4a.16ab7",
                "b3f16021.cbe42"
            ]
        ]
    },
    {
        "id": "48add1ee.b53a",
        "type": "debug",
        "z": "4f013f50.01be4",
        "name": "Data IN",
        "active": false,
        "console": "false",
        "complete": "payload",
        "x": 360,
        "y": 660,
        "wires": []
    },
    {
        "id": "aa10ee4a.16ab7",
        "type": "debug",
        "z": "4f013f50.01be4",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 870,
        "y": 620,
        "wires": []
    },
    {
        "id": "304c477b.df57d8",
        "type": "mqtt in",
        "z": "119005f7.ff865a",
        "name": "",
        "topic": "TEST",
        "qos": "2",
        "broker": "708bd7c3.ed7e88",
        "x": 290,
        "y": 320,
        "wires": [
            [
                "2826b941.26cdb6"
            ]
        ]
    },
    {
        "id": "2826b941.26cdb6",
        "type": "debug",
        "z": "119005f7.ff865a",
        "name": "mqtt listen",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 490,
        "y": 320,
        "wires": []
    },
    {
        "id": "82fe9da4.5d7f3",
        "type": "mqtt out",
        "z": "119005f7.ff865a",
        "name": "",
        "topic": "TEST",
        "qos": "",
        "retain": "",
        "broker": "708bd7c3.ed7e88",
        "x": 470,
        "y": 220,
        "wires": []
    },
    {
        "id": "5fc4ae82.bb80f",
        "type": "inject",
        "z": "119005f7.ff865a",
        "name": "",
        "topic": "",
        "payload": "Hello World",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 290,
        "y": 220,
        "wires": [
            [
                "82fe9da4.5d7f3"
            ]
        ]
    }
]