extensions/jotio.cz/jotio_nodered_old.json
[
    {
        "id": "570dd745.c860f8",
        "type": "tab",
        "label": "JoTio_App"
    },
    {
        "id": "baafab19.a8a658",
        "type": "mqtt in",
        "z": "570dd745.c860f8",
        "name": "Status",
        "topic": "status/02",
        "qos": "2",
        "broker": "5fa89d15.cc15d4",
        "x": 90,
        "y": 600,
        "wires": [
            [
                "46966df1.f69724"
            ]
        ]
    },
    {
        "id": "c6c5d2a0.d9dc2",
        "type": "mqtt out",
        "z": "570dd745.c860f8",
        "name": "Status",
        "topic": "status/02",
        "qos": "",
        "retain": "",
        "broker": "5fa89d15.cc15d4",
        "x": 710,
        "y": 1000,
        "wires": []
    },
    {
        "id": "1b229ea8.0f9211",
        "type": "inject",
        "z": "570dd745.c860f8",
        "name": "Timer",
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "repeat": "3",
        "crontab": "",
        "once": false,
        "x": 151.00001525878906,
        "y": 101,
        "wires": [
            [
                "36a3418c.21bc0e"
            ]
        ]
    },
    {
        "id": "46966df1.f69724",
        "type": "json",
        "z": "570dd745.c860f8",
        "name": "",
        "x": 210,
        "y": 600,
        "wires": [
            [
                "9f205bc.6c8cfa8"
            ]
        ]
    },
    {
        "id": "9f205bc.6c8cfa8",
        "type": "function",
        "z": "570dd745.c860f8",
        "name": "IQRFtoJSON",
        "func": "var response=msg.payload.Response.split(\" \");\nvar request=msg.payload.Request.split(\" \");\n\nvar data={\n    type: \"\",\n    request: {\n        nadr: \"\",\n        pnum: \"\",\n        pcmd: \"\",\n        hwpid: \"\"\n    },\n    response: {\n        nadr: \"\",\n        pnum: \"\",\n        pcmd: \"\",\n        hwpid: \"\",\n        errn: \"\",\n        dpa: \"\",\n        pdata: \"\",\n    },\n    timeout: \"\",\n    result: \"\"\n}\ndata.type=msg.payload.Type;\ndata.request.nadr=parseInt(request[0], 16) + (parseInt(request[1], 16)*256);\ndata.request.pnum=parseInt(request[2], 16);\ndata.request.pcmd=parseInt(request[3], 16);\ndata.request.hwpid=parseInt(request[4], 16) + (parseInt(request[5], 16)*256);\n\ndata.response.nadr=parseInt(response[0], 16) + (parseInt(response[1], 16)*256);\ndata.response.pnum=parseInt(response[2], 16);\ndata.response.pcmd=parseInt(response[3], 16);\ndata.response.hwpid=parseInt(response[4], 16) + (parseInt(response[5], 16)*256);\ndata.response.errn=parseInt(response[6], 16);\ndata.response.dpa=parseInt(response[7], 16);\ndata.response.pdata=msg.payload.Response.slice(24).trim();\ndata.timeout=msg.payload.Timeout;\ndata.result=msg.payload.Result;\nmsg.payload=data;\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 353.00001525878906,
        "y": 602.0002136230469,
        "wires": [
            [
                "f59943d4.5479a",
                "ce94e91b.4ce598"
            ]
        ]
    },
    {
        "id": "ed03d072.a65cc",
        "type": "ui_gauge",
        "z": "570dd745.c860f8",
        "name": "Temperature",
        "group": "ad6d5f3a.fdede",
        "order": 0,
        "width": "6",
        "height": "5",
        "gtype": "gage",
        "title": "Temperature",
        "label": "Celsius",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "x": 510,
        "y": 640,
        "wires": []
    },
    {
        "id": "b4120e59.2233f",
        "type": "ui_gauge",
        "z": "570dd745.c860f8",
        "name": "Light",
        "group": "847ac361.4789b",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "Light",
        "label": "Resistance",
        "format": "{{value}}",
        "min": 0,
        "max": "256",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "x": 490,
        "y": 760,
        "wires": []
    },
    {
        "id": "c55cc604.c8f738",
        "type": "ui_gauge",
        "z": "570dd745.c860f8",
        "name": "Potentiometer",
        "group": "19d22974.eae5e7",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "compass",
        "title": "Potentiometer",
        "label": "Volume",
        "format": "{{value}}",
        "min": 0,
        "max": "256",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "x": 520,
        "y": 880,
        "wires": []
    },
    {
        "id": "2a9e09ac.863e06",
        "type": "function",
        "z": "570dd745.c860f8",
        "name": "Get value",
        "func": "var res=msg.payload.response.pdata.split(\" \");\nmsg.payload=parseInt(res[0],16);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 340,
        "y": 660,
        "wires": [
            [
                "ed03d072.a65cc",
                "211ad882.dbc188",
                "8375d4ca.7f5698"
            ]
        ]
    },
    {
        "id": "211ad882.dbc188",
        "type": "debug",
        "z": "570dd745.c860f8",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 710,
        "y": 660,
        "wires": []
    },
    {
        "id": "e3e5b8ad.a7a7e8",
        "type": "function",
        "z": "570dd745.c860f8",
        "name": "Get value",
        "func": "var res=msg.payload.response.pdata.split(\" \");\nmsg.payload=parseInt(res[2],16);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 340,
        "y": 900,
        "wires": [
            [
                "c55cc604.c8f738",
                "de9d5ec6.04f43",
                "ca551054.e5bb8"
            ]
        ]
    },
    {
        "id": "ef0ae60f.696dd8",
        "type": "function",
        "z": "570dd745.c860f8",
        "name": "Get value",
        "func": "var res=msg.payload.response.pdata.split(\" \");\nmsg.payload=parseInt(res[1],16);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 340,
        "y": 780,
        "wires": [
            [
                "b4120e59.2233f",
                "bdeeab9f.efbd58",
                "91ded92f.0e4af8"
            ]
        ]
    },
    {
        "id": "8375d4ca.7f5698",
        "type": "ui_chart",
        "z": "570dd745.c860f8",
        "name": "Temperature",
        "group": "ad6d5f3a.fdede",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Temperature",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "Waiting for data",
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "20",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "x": 510,
        "y": 680,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "bdeeab9f.efbd58",
        "type": "ui_chart",
        "z": "570dd745.c860f8",
        "name": "Light",
        "group": "847ac361.4789b",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Light",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "Waiting for data",
        "ymin": "0",
        "ymax": "256",
        "removeOlder": "20",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "x": 490,
        "y": 800,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "de9d5ec6.04f43",
        "type": "ui_chart",
        "z": "570dd745.c860f8",
        "name": "Potentiometer",
        "group": "19d22974.eae5e7",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Potentiometer",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "bezier",
        "nodata": "Waiting for data",
        "ymin": "0",
        "ymax": "256",
        "removeOlder": "20",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "x": 520,
        "y": 920,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "91ded92f.0e4af8",
        "type": "debug",
        "z": "570dd745.c860f8",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 710,
        "y": 780,
        "wires": []
    },
    {
        "id": "ca551054.e5bb8",
        "type": "debug",
        "z": "570dd745.c860f8",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 710,
        "y": 900,
        "wires": []
    },
    {
        "id": "597f8837.2f08c8",
        "type": "function",
        "z": "570dd745.c860f8",
        "name": "JSONtoIQRF",
        "func": "out = ('000'+Number(msg.payload.request.nadr).toString(16)).slice(-2);\nout += \" \"+(('000'+Number(msg.payload.request.nadr).toString(16)).slice(-4)).substr(0,2);\nout += \" \"+('0'+Number(msg.payload.request.pnum).toString(16)).slice(-2);\nout += \" \"+('0'+Number(msg.payload.request.pcmd).toString(16)).slice(-2);\nout += \" \"+('000'+Number(msg.payload.request.hwpid).toString(16)).slice(-2);\nout += \" \"+(('000'+Number(msg.payload.request.hwpid).toString(16)).slice(-4)).substr(0,2);\n\nif (typeof msg.payload.request.pdata1 !== 'undefined' && msg.payload.request.pdata1 !== null) {\n  out += \" \"+('0'+Number(msg.payload.request.pdata1).toString(16)).slice(-2);\n  if (typeof msg.payload.request.pdata2 !== 'undefined' && msg.payload.request.pdata2 !== null) {\n    out += \" \"+('0'+Number(msg.payload.request.pdata2).toString(16)).slice(-2);\n  }    \n}\nmsg.payload= {Type: msg.payload.type, Request: out, Timeout: msg.payload.timeout};\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 790,
        "y": 380,
        "wires": [
            [
                "115407e5.76b698",
                "eaeaa231.fa96c"
            ]
        ]
    },
    {
        "id": "8418f5ea.a6fc28",
        "type": "debug",
        "z": "570dd745.c860f8",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 730,
        "y": 960,
        "wires": []
    },
    {
        "id": "36a3418c.21bc0e",
        "type": "function",
        "z": "570dd745.c860f8",
        "name": "Req sensor",
        "func": "var data={\n    type: \"Raw\",\n    request: {\n        nadr: \"0x0001\",\n        pnum: \"0x20\",\n        pcmd: \"0x31\",\n        hwpid: \"0xFFFF\"\n    },\n    timeout: 0\n}\nmsg.payload=data;\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 351.00001525878906,
        "y": 101,
        "wires": [
            [
                "597f8837.2f08c8"
            ]
        ]
    },
    {
        "id": "db755b83.e22058",
        "type": "inject",
        "z": "570dd745.c860f8",
        "name": "",
        "topic": "",
        "payload": "Test",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 90,
        "y": 1000,
        "wires": [
            [
                "26fa5ccd.81ff44"
            ]
        ]
    },
    {
        "id": "26fa5ccd.81ff44",
        "type": "function",
        "z": "570dd745.c860f8",
        "name": "Req Tst",
        "func": "var data={\n    request: {\n        nadr:  \"0x0001\",\n        pnum:  \"0x20\",\n        pcmd:  \"0xB1\",\n        hwpid: \"0x001E\",\n        err:   \"0x00\",\n        dpa:   \"0x67\",\n        pdata1: \"27\",\n        pdata2: \"101\",\n        pdata3: \"200\"\n    },\n}\nmsg.payload=data.request;\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 220,
        "y": 1000,
        "wires": [
            [
                "5e7ce75.2787618"
            ]
        ]
    },
    {
        "id": "5e7ce75.2787618",
        "type": "function",
        "z": "570dd745.c860f8",
        "name": "JSONtoIQRF",
        "func": "out = ('000'+Number(msg.payload.nadr).toString(16)).slice(-2);\nout += \" \"+(('000'+Number(msg.payload.nadr).toString(16)).slice(-4)).substr(0,2);\nout += \" \"+('0'+Number(msg.payload.pnum).toString(16)).slice(-2);\nout += \" \"+('0'+Number(msg.payload.pcmd).toString(16)).slice(-2);\nout += \" \"+('000'+Number(msg.payload.hwpid).toString(16)).slice(-2);\nout += \" \"+(('000'+Number(msg.payload.hwpid).toString(16)).slice(-4)).substr(0,2);\n\nres = ('000'+Number(msg.payload.nadr).toString(16)).slice(-2);\nres += \" \"+(('000'+Number(msg.payload.nadr).toString(16)).slice(-4)).substr(0,2);\nres += \" \"+('0'+Number(msg.payload.pnum).toString(16)).slice(-2);\nres += \" \"+('0'+Number(msg.payload.pcmd).toString(16)).slice(-2);\nres += \" \"+('000'+Number(msg.payload.hwpid).toString(16)).slice(-2);\nres += \" \"+(('000'+Number(msg.payload.hwpid).toString(16)).slice(-4)).substr(0,2);\nres += \" \"+('0'+Number(msg.payload.err).toString(16)).slice(-2);\nres += \" \"+('0'+Number(msg.payload.dpa).toString(16)).slice(-2);\nres += \" \"+('0'+Number(msg.payload.pdata1).toString(16)).slice(-2);\nres += \" \"+('0'+Number(msg.payload.pdata2).toString(16)).slice(-2);\nres += \" \"+('0'+Number(msg.payload.pdata3).toString(16)).slice(-2);\n\n//res += ('00000'+Number(msg.payload.pdata).toString(16)).slice(-2)+\" \";\n//res += (('00000'+Number(msg.payload.pdata).toString(16)).slice(-4)).substr(0,2);\n//res += (('00000'+Number(msg.payload.pdata).toString(16)).slice(-4)).substr(0,2);\n\nmsg.payload= {Type: \"Raw\", Request: out, Response: res};\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 370,
        "y": 1000,
        "wires": [
            [
                "c6c5d2a0.d9dc2",
                "8418f5ea.a6fc28"
            ]
        ]
    },
    {
        "id": "115407e5.76b698",
        "type": "mqtt out",
        "z": "570dd745.c860f8",
        "name": "Command",
        "topic": "command/02",
        "qos": "",
        "retain": "",
        "broker": "5fa89d15.cc15d4",
        "x": 850,
        "y": 240,
        "wires": []
    },
    {
        "id": "70645170.ef89e",
        "type": "mqtt in",
        "z": "570dd745.c860f8",
        "name": "Command",
        "topic": "command/02",
        "qos": "2",
        "broker": "5fa89d15.cc15d4",
        "x": 537.0000457763672,
        "y": 39,
        "wires": [
            [
                "c8fc8c37.8e8a9"
            ]
        ]
    },
    {
        "id": "18f2db8a.f7e524",
        "type": "debug",
        "z": "570dd745.c860f8",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 830,
        "y": 40,
        "wires": []
    },
    {
        "id": "c8fc8c37.8e8a9",
        "type": "json",
        "z": "570dd745.c860f8",
        "name": "",
        "x": 670,
        "y": 40,
        "wires": [
            [
                "18f2db8a.f7e524"
            ]
        ]
    },
    {
        "id": "4ea00b3e.fa7c74",
        "type": "inject",
        "z": "570dd745.c860f8",
        "name": "Switch 1 ON",
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 350,
        "y": 200,
        "wires": [
            [
                "5ef92fcd.fdf5d"
            ]
        ]
    },
    {
        "id": "5ef92fcd.fdf5d",
        "type": "function",
        "z": "570dd745.c860f8",
        "name": "Switch relay 1 and 2",
        "func": "var data={\n    type: \"Raw\",\n    request: {\n        nadr: \"0x0002\",\n        pnum: \"0x20\",\n        pcmd: \"0x32\",\n        hwpid: \"0xFFFF\",\n        pdata1: \"0x00\",\n        pdata2: \"0x00\"\n    },\n    timeout: 0\n}\nvar command=msg.payload;\nmsg.payload=data;\nmsg.payload.request.pdata1=command;\nmsg.payload.request.pdata2=command;\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 580,
        "y": 240,
        "wires": [
            [
                "597f8837.2f08c8"
            ]
        ]
    },
    {
        "id": "42ecca9b.b569a4",
        "type": "inject",
        "z": "570dd745.c860f8",
        "name": "Switch 2 ON",
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 350,
        "y": 340,
        "wires": [
            [
                "707b92dc.afc42c"
            ]
        ]
    },
    {
        "id": "707b92dc.afc42c",
        "type": "function",
        "z": "570dd745.c860f8",
        "name": "LED 1",
        "func": "var data={\n    type: \"Raw\",\n    request: {\n        nadr: \"0x0001\",\n        pnum: \"0x06\",\n        pcmd: \"0x00\",\n        hwpid: \"0xFFFF\"\n    },\n    timeout: 0\n}\nvar command=msg.payload;\nmsg.payload=data;\nmsg.payload.request.pcmd=command;\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 590,
        "y": 380,
        "wires": [
            [
                "597f8837.2f08c8"
            ]
        ]
    },
    {
        "id": "c31883a.e6c6c8",
        "type": "inject",
        "z": "570dd745.c860f8",
        "name": "Switch 1 OFF",
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 350,
        "y": 280,
        "wires": [
            [
                "5ef92fcd.fdf5d"
            ]
        ]
    },
    {
        "id": "7ce2caa.8fa5c34",
        "type": "inject",
        "z": "570dd745.c860f8",
        "name": "Switch 2 OFF",
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 350,
        "y": 420,
        "wires": [
            [
                "707b92dc.afc42c"
            ]
        ]
    },
    {
        "id": "c2a29c45.70dc3",
        "type": "ui_button",
        "z": "570dd745.c860f8",
        "name": "Relay ON",
        "group": "b33cb237.0cde7",
        "order": 2,
        "width": "2",
        "height": "1",
        "label": "ON",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "1",
        "payloadType": "num",
        "topic": "",
        "x": 120,
        "y": 220,
        "wires": [
            [
                "1c2fdac3.e566d5"
            ]
        ]
    },
    {
        "id": "c03973ea.e9ccd",
        "type": "ui_button",
        "z": "570dd745.c860f8",
        "name": "Relay OFF",
        "group": "b33cb237.0cde7",
        "order": 3,
        "width": "2",
        "height": "1",
        "label": "OFF",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "0",
        "payloadType": "num",
        "topic": "",
        "x": 130,
        "y": 260,
        "wires": [
            [
                "1c2fdac3.e566d5"
            ]
        ]
    },
    {
        "id": "aa2bcbb1.ae8568",
        "type": "ui_button",
        "z": "570dd745.c860f8",
        "name": "RED LED ON",
        "group": "a3369601.b06398",
        "order": 2,
        "width": "2",
        "height": "1",
        "label": "ON",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "1",
        "payloadType": "num",
        "topic": "",
        "x": 140,
        "y": 360,
        "wires": [
            [
                "d0556a9.bac7598"
            ]
        ]
    },
    {
        "id": "53038b0b.8e8a84",
        "type": "ui_button",
        "z": "570dd745.c860f8",
        "name": "RED LED OFF",
        "group": "a3369601.b06398",
        "order": 3,
        "width": "2",
        "height": "1",
        "label": "OFF",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "0",
        "payloadType": "num",
        "topic": "",
        "x": 140,
        "y": 400,
        "wires": [
            [
                "d0556a9.bac7598"
            ]
        ]
    },
    {
        "id": "d0556a9.bac7598",
        "type": "ui_switch",
        "z": "570dd745.c860f8",
        "name": "RED LED",
        "label": "LED",
        "group": "a3369601.b06398",
        "order": 1,
        "width": "2",
        "height": "1",
        "passthru": true,
        "topic": "",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "x": 340,
        "y": 380,
        "wires": [
            [
                "707b92dc.afc42c"
            ]
        ]
    },
    {
        "id": "1c2fdac3.e566d5",
        "type": "ui_switch",
        "z": "570dd745.c860f8",
        "name": "Switch 1",
        "label": "Switch",
        "group": "b33cb237.0cde7",
        "order": 1,
        "width": "2",
        "height": "1",
        "passthru": true,
        "topic": "",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "x": 340,
        "y": 240,
        "wires": [
            [
                "5ef92fcd.fdf5d"
            ]
        ]
    },
    {
        "id": "73910334.2e0c3c",
        "type": "inject",
        "z": "570dd745.c860f8",
        "name": "LED ON",
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 340,
        "y": 480,
        "wires": [
            [
                "11b21680.ec53da"
            ]
        ]
    },
    {
        "id": "11b21680.ec53da",
        "type": "function",
        "z": "570dd745.c860f8",
        "name": "LED 2",
        "func": "var data={\n    type: \"Raw\",\n    request: {\n        nadr: \"0x0001\",\n        pnum: \"0x07\",\n        pcmd: \"0x00\",\n        hwpid: \"0xFFFF\"\n    },\n    timeout: 0\n}\nvar command=msg.payload;\nmsg.payload=data;\nmsg.payload.request.pcmd=command;\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 590,
        "y": 520,
        "wires": [
            [
                "597f8837.2f08c8"
            ]
        ]
    },
    {
        "id": "eddbad59.0b02e",
        "type": "inject",
        "z": "570dd745.c860f8",
        "name": "LED OFF",
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 340,
        "y": 560,
        "wires": [
            [
                "11b21680.ec53da"
            ]
        ]
    },
    {
        "id": "4c6f42dc.39a6cc",
        "type": "ui_button",
        "z": "570dd745.c860f8",
        "name": "GREEN LED ON",
        "group": "1940d949.7c5f67",
        "order": 2,
        "width": "2",
        "height": "1",
        "label": "ON",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "1",
        "payloadType": "num",
        "topic": "",
        "x": 150,
        "y": 500,
        "wires": [
            [
                "15ff574.f0627a9"
            ]
        ]
    },
    {
        "id": "614ca94.3b7bf58",
        "type": "ui_button",
        "z": "570dd745.c860f8",
        "name": "GREEN LED OFF",
        "group": "1940d949.7c5f67",
        "order": 3,
        "width": "2",
        "height": "1",
        "label": "OFF",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "0",
        "payloadType": "num",
        "topic": "",
        "x": 150,
        "y": 540,
        "wires": [
            [
                "15ff574.f0627a9"
            ]
        ]
    },
    {
        "id": "15ff574.f0627a9",
        "type": "ui_switch",
        "z": "570dd745.c860f8",
        "name": "GREEN LED",
        "label": "LED",
        "group": "1940d949.7c5f67",
        "order": 1,
        "width": "2",
        "height": "1",
        "passthru": true,
        "topic": "",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "x": 350,
        "y": 520,
        "wires": [
            [
                "11b21680.ec53da"
            ]
        ]
    },
    {
        "id": "eaeaa231.fa96c",
        "type": "debug",
        "z": "570dd745.c860f8",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "payload",
        "x": 850,
        "y": 520,
        "wires": []
    },
    {
        "id": "f59943d4.5479a",
        "type": "debug",
        "z": "570dd745.c860f8",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 628.5000152587891,
        "y": 588.6001281738281,
        "wires": []
    },
    {
        "id": "ce94e91b.4ce598",
        "type": "switch",
        "z": "570dd745.c860f8",
        "name": "HWPID == 30",
        "property": "payload.response.hwpid",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "30",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "outputs": 1,
        "x": 139.5,
        "y": 688.2000427246094,
        "wires": [
            [
                "f4341f97.ca1f3"
            ]
        ]
    },
    {
        "id": "f4341f97.ca1f3",
        "type": "switch",
        "z": "570dd745.c860f8",
        "name": "PNUM ?",
        "property": "payload.response.pnum",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "32",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "06",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "07",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "outputs": 3,
        "x": 149.5,
        "y": 777.8000183105469,
        "wires": [
            [
                "2a9e09ac.863e06",
                "ef0ae60f.696dd8",
                "e3e5b8ad.a7a7e8"
            ],
            [],
            []
        ]
    },
    {
        "id": "5fa89d15.cc15d4",
        "type": "mqtt-broker",
        "z": "",
        "broker": "172.25.3.1",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": ""
    },
    {
        "id": "ad6d5f3a.fdede",
        "type": "ui_group",
        "z": "",
        "name": "Temperature",
        "tab": "279b4c6d.715684",
        "order": 1,
        "disp": true,
        "width": "6"
    },
    {
        "id": "847ac361.4789b",
        "type": "ui_group",
        "z": "",
        "name": "Light",
        "tab": "279b4c6d.715684",
        "order": 2,
        "disp": true,
        "width": "6"
    },
    {
        "id": "19d22974.eae5e7",
        "type": "ui_group",
        "z": "",
        "name": "Potentiometer",
        "tab": "279b4c6d.715684",
        "order": 3,
        "disp": true,
        "width": "6"
    },
    {
        "id": "b33cb237.0cde7",
        "type": "ui_group",
        "z": "",
        "name": "Relay",
        "tab": "279b4c6d.715684",
        "order": 4,
        "disp": true,
        "width": "6"
    },
    {
        "id": "a3369601.b06398",
        "type": "ui_group",
        "z": "",
        "name": "Red LED",
        "tab": "279b4c6d.715684",
        "order": 5,
        "disp": true,
        "width": "6"
    },
    {
        "id": "1940d949.7c5f67",
        "type": "ui_group",
        "z": "",
        "name": "Green LED",
        "tab": "279b4c6d.715684",
        "disp": true,
        "width": "6"
    },
    {
        "id": "279b4c6d.715684",
        "type": "ui_tab",
        "z": "",
        "name": "IQRF",
        "icon": "dashboard"
    }
]
