extensions/ibm.com/Node-RED-cloud.json
[{"id":"ba8e2d2f.559ce","type":"tab","label":"IBM Watson IoT - Bluemix"},{"id":"2368f0dd.39608","type":"websocket in","z":"ba8e2d2f.559ce","name":"","server":"c37275f7.439fe8","x":210,"y":180,"wires":[["ef39ff66.d21c2","97dccaaa.3ee448"]]},{"id":"ef39ff66.d21c2","type":"function","z":"ba8e2d2f.559ce","name":"del_session","func":"delete msg._session;\nreturn msg;\n\n","outputs":1,"noerr":0,"x":550,"y":180,"wires":[["e3a4d80.caec428"]]},{"id":"e3a4d80.caec428","type":"websocket out","z":"ba8e2d2f.559ce","name":"","server":"c37275f7.439fe8","x":1170,"y":180,"wires":[]},{"id":"4e0d9554.a232fc","type":"http in","z":"ba8e2d2f.559ce","name":"","url":"/chat","method":"get","x":400,"y":120,"wires":[["6d8dac4c.6fe664"]]},{"id":"6d8dac4c.6fe664","type":"template","z":"ba8e2d2f.559ce","name":"WebChat","field":"payload","fieldType":"msg","format":"text","syntax":"mustache","template":"<head>\n  <meta name=\"viewport\" content=\"width=320, initial-scale=1\">\n  <title>Chat</title>\n</head>\n\n<body>\n  <div id=\"wrapper\">\n    <div id=\"chat_box\" class=\"content\"></div>\n\n    <div id=\"footer\">\n      <div class=\"content\">\n        <input type=\"text\" id=\"user\" placeholder=\"Who are you?\" />\n        <input type=\"text\" id=\"message\" placeholder=\"What do you want to say?\" />\n        <input type=\"button\" id=\"send_btn\" value=\"Send\" onclick=\"sendMessage()\">\n      </div>\n    </div>\n  </div>\n</body>\n\n<script type=\"text/javascript\">\n  var wsUri = \"wss://{{req.headers.host}}/ws/chat\";\n  var ws = new WebSocket(wsUri);\n\n  function createSystemMessage(message) {\n    var message = document.createTextNode(message);\n\n    var messageBox = document.createElement('p');\n    messageBox.className = 'system';\n\n    messageBox.appendChild(message);\n\n    var chat = document.getElementById('chat_box');\n    chat.appendChild(messageBox);\n  }\n\n  function createUserMessage(user, message) {\n    var user = document.createTextNode(user + ': ');\n\n    var userBox = document.createElement('span');\n    userBox.className = 'username';\n    userBox.appendChild(user);\n\n    var message = document.createTextNode(message);\n\n    var messageBox = document.createElement('p');\n    messageBox.appendChild(userBox);\n    messageBox.appendChild(message);\n\n    var chat = document.getElementById('chat_box');\n    chat.appendChild(messageBox);\n  }\n\n  ws.onopen = function(ev) {\n    createSystemMessage('[Connected]');\n  };\n\n  ws.onclose = function(ev) {\n    createSystemMessage('[Disconnected]');\n  }\n\n  ws.onmessage = function(ev) {\n    var payload = JSON.parse(ev.data);\n    createUserMessage(payload.user, payload.message);\n\n    var chat = document.getElementById('chat_box');\n    chat.scrollTop = chat.scrollHeight;\n  }\n\n  function sendMessage() {\n    var user = document.getElementById('user');\n    var message = document.getElementById('message');\n\n    var payload = {\n      message: message.value,\n      user: user.value,\n      ts: (new Date()).getTime()\n    };\n\n    ws.send(JSON.stringify(payload));\n    message.value = \"\";\n  };\n</script>\n\n<style type=\"text/css\">\n  * {\n    font-family: \"Palatino Linotype\", \"Book Antiqua\", Palatino, serif;\n    font-style: italic;\n    font-size: 24px;\n  }\n\n  html, body, #wrapper {\n    margin: 0;\n    padding: 0;\n    height: 100%;\n  }\n\n  #wrapper {\n    background-color: #ecf0f1;\n  }\n\n  #chat_box {\n    box-sizing: border-box;\n    height: 100%;\n    overflow: auto;\n    padding-bottom: 50px;\n  }\n\n  #footer {\n    box-sizing: border-box;\n    position: fixed;\n    bottom: 0;\n    height: 50px;\n    width: 100%;\n    background-color: #2980b9;\n  }\n\n  #footer .content {\n    padding-top: 4px;\n    position: relative;\n  }\n\n  #user { width: 20%; }\n  #message { width: 68%; }\n  #send_btn {\n    width: 10%;\n    position: absolute;\n    right: 0;\n    bottom: 0;\n    margin: 0;\n  }\n\n  .content {\n    width: 70%;\n    margin: 0 auto;\n  }\n\n  input[type=\"text\"],\n  input[type=\"button\"] {\n    border: 0;\n    color: #fff;\n  }\n\n  input[type=\"text\"] {\n    background-color: #146EA8;\n    padding: 3px 10px;\n  }\n\n  input[type=\"button\"] {\n    background-color: #f39c12;\n    border-right: 2px solid #e67e22;\n    border-bottom: 2px solid #e67e22;\n    min-width: 70px;\n    display: inline-block;\n  }\n\n  input[type=\"button\"]:hover {\n    background-color: #e67e22;\n    border-right: 2px solid #f39c12;\n    border-bottom: 2px solid #f39c12;\n    cursor: pointer;\n  }\n\n  .system,\n  .username {\n    color: #aaa;\n    font-style: italic;\n    font-family: monospace;\n    font-size: 16px;\n  }\n\n  @media(max-width: 1000px) {\n    .content { width: 90%; }\n  }\n\n  @media(max-width: 780px) {\n    #footer { height: 91px; }\n    #chat_box { padding-bottom: 91px; }\n\n    #user { width: 100%; }\n    #message { width: 80%; }\n  }\n\n  @media(max-width: 400px) {\n    #footer { height: 135px; }\n    #chat_box { padding-bottom: 135px; }\n\n    #message { width: 100%; }\n    #send_btn {\n      position: relative;\n      margin-top: 3px;\n      width: 100%;\n    }\n  }\n</style>\n","x":556,"y":120,"wires":[["e7bfa403.fb1428"]]},{"id":"e7bfa403.fb1428","type":"http response","z":"ba8e2d2f.559ce","name":"","x":689,"y":120,"wires":[]},{"id":"e1897ec7.8fffb","type":"watson-conversation-v1","z":"ba8e2d2f.559ce","name":"","workspaceid":"02682eb2-4628-4fc5-9391-6be39a67b717","multiuser":false,"context":true,"x":610,"y":260,"wires":[["3ec87881.9c21a8","1c8d0f3.a57f7f1"]]},{"id":"a5cf6860.075fe8","type":"websocket in","z":"ba8e2d2f.559ce","name":"","server":"952fa755.673b78","client":"","x":80,"y":580,"wires":[["293a3fd1.44fb"]]},{"id":"733b3f0f.246ff","type":"ibmiot out","z":"ba8e2d2f.559ce","authentication":"quickstart","apiKey":"","outputType":"evt","deviceId":"","deviceType":"0.16.2","eventCommandType":"","format":"json","data":"","qos":0,"name":"IBM IoT","service":"quickstart","x":560,"y":620,"wires":[]},{"id":"76195d77.13bdf4","type":"ibmiot in","z":"ba8e2d2f.559ce","authentication":"quickstart","apiKey":"","inputType":"evt","deviceId":"9cbc8ace2ac2","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"quickstart","allDevices":"","allApplications":"","allDeviceTypes":true,"allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":70,"y":620,"wires":[["bc532979.426a18"]]},{"id":"c3615631.d81588","type":"link out","z":"ba8e2d2f.559ce","name":"IqrfToGraf","links":["1e9667b6.2c0d18"],"x":515,"y":580,"wires":[]},{"id":"bc532979.426a18","type":"function","z":"ba8e2d2f.559ce","name":"SET value","func":"var data={\n    type: \"raw\",\n    KitTemp:msg.payload.d.temp,\n    KitLight:msg.payload.d.humidity,\n    KitPot:msg.payload.d.objectTemp,\n//    time:msg.payload.time\n    }\nmsg.payload=data;\nmsg.topic=\"data\"\nreturn msg;","outputs":1,"noerr":0,"x":230,"y":620,"wires":[["e902fa5a.3ab6b8","c3615631.d81588","733b3f0f.246ff","2a2be3cb.b91e4c"]]},{"id":"e902fa5a.3ab6b8","type":"debug","z":"ba8e2d2f.559ce","name":"","active":false,"console":"false","complete":"true","x":450,"y":720,"wires":[]},{"id":"6e61c174.6e7f9","type":"debug","z":"ba8e2d2f.559ce","name":"","active":false,"console":"false","complete":"true","x":210,"y":500,"wires":[]},{"id":"6b65ccfc.fabed4","type":"function","z":"ba8e2d2f.559ce","name":"TestText","func":"msg.payload = \"hi\";\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":300,"wires":[["e1897ec7.8fffb"]]},{"id":"f5048a1b.3ee748","type":"inject","z":"ba8e2d2f.559ce","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":220,"y":300,"wires":[["6b65ccfc.fabed4"]]},{"id":"97dccaaa.3ee448","type":"json","z":"ba8e2d2f.559ce","name":"","x":367,"y":212,"wires":[["7d154689.e01f48"]]},{"id":"7d154689.e01f48","type":"function","z":"ba8e2d2f.559ce","name":"MessageToBot","func":"msg.payload = msg.payload.message;\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":260,"wires":[["e1897ec7.8fffb"]]},{"id":"3ec87881.9c21a8","type":"function","z":"ba8e2d2f.559ce","name":"bot_text","func":"//msg.payload.message = msg.payload.output.test;\n//return msg;\n\nvar data={\n    message: msg.payload.output.text[0],\n    user:\"ChatBot\"\n//    time:msg.payload.time\n    }\nmsg.payload=data;\nreturn msg;","outputs":1,"noerr":0,"x":780,"y":260,"wires":[["e3a4d80.caec428"]]},{"id":"1c8d0f3.a57f7f1","type":"function","z":"ba8e2d2f.559ce","name":"action","func":"var data={\n    name: msg.payload.output.name,\n    command: msg.payload.output.command\n//    time:msg.payload.time\n    }\nmsg.payload=data;\nmsg.topic=\"command\"\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":440,"wires":[["2a2be3cb.b91e4c","a0b7ffbd.2106","979753ae.ef693"]]},{"id":"2dc4a0cc.eec2","type":"switch","z":"ba8e2d2f.559ce","name":"","property":"payload.command.name","propertyType":"msg","rules":[{"t":"eq","v":"gettemp","vt":"str"},{"t":"eq","v":"getlight","vt":"str"},{"t":"eq","v":"getpot","vt":"str"},{"t":"eq","v":"getall","vt":"str"},{"t":"eq","v":"setout1","vt":"str"},{"t":"eq","v":"setout2","vt":"str"}],"checkall":"true","outputs":6,"x":690,"y":440,"wires":[["bff30ead.14fff"],["48b68fba.d6bb1"],["4e294f9d.48296"],["3d1f55d5.bb512a"],[],[]]},{"id":"d6c57696.2ec628","type":"debug","z":"ba8e2d2f.559ce","name":"","active":false,"console":"false","complete":"false","x":1150,"y":520,"wires":[]},{"id":"2a2be3cb.b91e4c","type":"join","z":"ba8e2d2f.559ce","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","timeout":"","count":"2","x":570,"y":440,"wires":[["2dc4a0cc.eec2"]]},{"id":"fd878558.84ff18","type":"function","z":"ba8e2d2f.559ce","name":"SET value","func":"var data={\n    type: \"raw\",\n    KitNodeTemp:25,\n    KitLight:85,\n    KitPot:45,\n//    time:msg.payload.time\n    }\nmsg.payload=data;\nmsg.topic=\"data\"\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":680,"wires":[["2a2be3cb.b91e4c","c3615631.d81588"]]},{"id":"3fb8bf00.5fa352","type":"inject","z":"ba8e2d2f.559ce","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":80,"y":680,"wires":[["fd878558.84ff18"]]},{"id":"bff30ead.14fff","type":"function","z":"ba8e2d2f.559ce","name":"temperature","func":"var data={\n    message: msg.payload=\"Temperature is \"+String(msg.payload.data.KitNodeTemp)+\" °C.\",\n    user:\"ChatBot\"\n    }\nmsg.payload=data;\nreturn msg;","outputs":1,"noerr":0,"x":890,"y":360,"wires":[["d6c57696.2ec628","e3a4d80.caec428"]]},{"id":"48b68fba.d6bb1","type":"function","z":"ba8e2d2f.559ce","name":"Light is","func":"var data={\n    message: msg.payload=\"Light is \"+String(msg.payload.data.KitLight)+\" Lx.\",\n    user:\"ChatBot\"\n    }\nmsg.payload=data;\nreturn msg;","outputs":1,"noerr":0,"x":880,"y":400,"wires":[["d6c57696.2ec628","e3a4d80.caec428"]]},{"id":"4e294f9d.48296","type":"function","z":"ba8e2d2f.559ce","name":"Potentiometer points to","func":"var data={\n    message: msg.payload=\"Potentiometer points to \"+String(msg.payload.data.KitPot)+\".\",\n    user:\"ChatBot\"\n    }\nmsg.payload=data;\nreturn msg;","outputs":1,"noerr":0,"x":930,"y":440,"wires":[["d6c57696.2ec628","e3a4d80.caec428"]]},{"id":"3d1f55d5.bb512a","type":"function","z":"ba8e2d2f.559ce","name":"All data","func":"var data={\n    message: msg.payload=\n                        \"Temperature is \"+String(msg.payload.data.KitNodeTemp)+\" °C. \"+\n                        \"Light is \"+String(msg.payload.data.KitLight)+\" Lx. \"+\n                        \"Potentiometer points to \"+ String(msg.payload.data.KitPot)+\".\",\n    user:\"ChatBot\"\n    }\nmsg.payload=data;\nreturn msg;","outputs":1,"noerr":0,"x":880,"y":480,"wires":[["e3a4d80.caec428","d6c57696.2ec628"]]},{"id":"b3cfca0a.1e8a28","type":"link in","z":"ba8e2d2f.559ce","name":"iqrfback","links":["b0acd60d.43aa78"],"x":695,"y":580,"wires":[["6d82c7c9.ad2c88","6d6f5afd.004814"]]},{"id":"6d82c7c9.ad2c88","type":"websocket out","z":"ba8e2d2f.559ce","name":"","server":"cbe7b20a.dab4","client":"","x":980,"y":580,"wires":[]},{"id":"49ca532.87fadac","type":"comment","z":"ba8e2d2f.559ce","name":"Dashboard","info":"","x":600,"y":540,"wires":[]},{"id":"a0b7ffbd.2106","type":"debug","z":"ba8e2d2f.559ce","name":"","active":false,"console":"false","complete":"false","x":530,"y":400,"wires":[]},{"id":"293a3fd1.44fb","type":"json","z":"ba8e2d2f.559ce","name":"","x":210,"y":580,"wires":[["c3615631.d81588","733b3f0f.246ff","6e61c174.6e7f9","c2040e53.bcd89"]]},{"id":"c2040e53.bcd89","type":"function","z":"ba8e2d2f.559ce","name":"","func":"msg.topic=\"data\"\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":540,"wires":[["2a2be3cb.b91e4c"]]},{"id":"979753ae.ef693","type":"function","z":"ba8e2d2f.559ce","name":"","func":"var data={\n    name:msg.payload.name,\n    command:msg.payload.command \n}\nmsg.payload=data;\ndelete msg._session;\n\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":540,"wires":[["6d82c7c9.ad2c88","6d6f5afd.004814","c3a292f9.3bf7c"]]},{"id":"6d6f5afd.004814","type":"debug","z":"ba8e2d2f.559ce","name":"","active":true,"console":"false","complete":"true","x":950,"y":640,"wires":[]},{"id":"c3a292f9.3bf7c","type":"link out","z":"ba8e2d2f.559ce","name":"","links":["6857a856.836fc8"],"x":915,"y":700,"wires":[]},{"id":"c37275f7.439fe8","type":"websocket-listener","path":"/ws/chat","wholemsg":"false"},{"id":"952fa755.673b78","type":"websocket-listener","z":"","path":"/wsiqrf","wholemsg":"false"},{"id":"cbe7b20a.dab4","type":"websocket-listener","z":"","path":"/wsiqrfback","wholemsg":"false"}]
